<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block
            th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block
                th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">

    <style>
        tr.odd {
            cursor: pointer;
        }

        tr.even {
            cursor: pointer;
        }

        #code-table_length {
            text-align: left !important;
        }

        #code-table_paginate {
            text-align: right !important;
        }

        /* 상위 row에서 flex 정렬 강제 적용 */
        .d-flex.justify-content-between.row {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-wrap: wrap; /* 줄바꿈 허용 */
        }

        .form-control {
            border: 1px solid #e8e8e8;
            height: 40px;
            background-color: transparent;
            padding: 2px 20px;
            color: #1f2226;
            font-size: 13px;
        }

        .input-group .btn {
            border: 1px solid #e8e8e8; /* input과 동일한 border */
            height: 50px; /* input과 동일한 높이 */
            background-color: transparent; /* 배경 투명 */
            color: white; /* 텍스트 색상 */
            font-size: 15px; /* 폰트 크기 맞추기 */
            padding: 0 20px; /* 좌우 여백 */
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }

        .error-message {
            color: #ea5455; /* 텍스트 색상 */
            font-size: 0.775rem;
            display: block; /* 라벨을 블록 요소로 설정하여 한 줄로 표현 */
            margin-top: 5px; /* 입력 필드와의 간격 조정 */
        }

        .nice-select.is-invalid {
            border-color: #ea5455 !important; /* 부트스트랩의 빨간색 */
        }

        .readonly-select {
            pointer-events: none;
            background-color: #f5f5f5; /* 선택 불가처럼 보여주기 위한 시각적 효과 */
            color: #666;
        }

        .dragging-real {
            background-color: #d7e4f5;
            color: white;
            transform: scale(1.02);
            box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        }
        .chosen {
            background-color: #d7e4f5;
            outline: 1px dashed #d7e4f5;
        }

    </style>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}"/>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-form.css'}"/>
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title-2 st-border-center text-center mb-35">
                <h2>폼 관리</h2>
            </div>
            <hr>
            <!-- s:list -->
            <div class="row match-height">
                <div class="col-12 col-md-8">
                    <div>
                        <div class="description-review-topbar nav" data-aos-delay="200" style="display: none;">
                            <th:block th:each="group, iterStat : ${formGroups}">
                                <a th:classappend="${iterStat.index == 0} ? ' active'"
                                   th:attr="data-type=${group.name()}, data-bs-toggle='tab'"
                                   th:href="'#' + ${group.name().toLowerCase()} + '-tab'">
                                    <span th:text="${group.label}">탭 이름</span>
                                </a>
                            </th:block>
                        </div>

                        <div class="container">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <!-- 왼쪽: 폼 미리보기 -->
                                <button class="custom-button" id="preview-btn">폼 미리보기</button>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade"
                                     th:each="group, iterStat : ${formGroups}"
                                     th:id="${group.name().toLowerCase()} + '-tab'"
                                     th:classappend="${iterStat.index == 0} ? ' show active'">

                                    <div class="table-responsive mt-3 text-center">
                                        <div id="field-sortable-wrapper">
                                            <table class="table table-bordered"
                                                   th:id="${group.name().toLowerCase() + '-table'}">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>순서</th>
                                                    <th>빌더 타입</th>
                                                    <th>라벨</th>
                                                    <th>필드명</th>
                                                    <th>필수 여부</th>
                                                    <th>등록일</th>
                                                    <th>등록자</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="container">
                        <!-- s:buttons -->
                        <!--                        <div>-->
                        <!--                            <div class="d-flex justify-content-end pe-4">-->
                        <!--                                <div class="btn-container" style="margin-top: 0px !important;">-->
                        <!--                                    &lt;!&ndash; 왼쪽 버튼 &ndash;&gt;-->
                        <!--                                    &lt;!&ndash; 오른쪽 버튼들 &ndash;&gt;-->
                        <!--                                    <div class="right-buttons">-->
                        <!--                                        <button type="button" class="custom-button" id="new-btn">초기화</button>-->
                        <!--                                        <button type="button" class="custom-button" id="save-btn">등록</button>-->
                        <!--                                        <button type="button" class="custom-button" id="update-btn" style="display: none;">수정</button>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="error-message" id="formGroup-error"></div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!-- e:buttons -->

                        <!-- s:card1 -->
                        <div class="card" style="margin-top: 10px">
                            <form class="needs-validation" id="save-form-parent" novalidate="">
                                <div class="pb-3 border-bottom" style="padding: 15px;">
                                    <div class="row align-items-center">
                                        <div class="col-12 d-flex justify-content-between align-items-center">
                                            <h6 class="mb-0">기본 정보</h6>
                                            <div class="right-buttons">
                                                <button type="button" class="custom-button m-1" id="new-btn"
                                                        style="width:50px;">초기화
                                                </button>
                                                <button type="button" class="custom-button m-1" id="save-btn"
                                                        style="width:50px;">등록
                                                </button>
                                                <button type="button" class="custom-button m-1" id="update-btn"
                                                        style="width: 50px; display: none;">수정
                                                    <button type="button" class="custom-button m-1" id="delete-btn"
                                                            style="width: 50px; display: none;">삭제
                                                    </button>
                                            </div>
                                            <div id="select-wrapper" style="display: none;">
                                                <select class="nice-select nice-select-style-1" id="groupSelect"
                                                        name="formGroup">
                                                    <option value="" disabled selected>폼 선택</option>
                                                    <option th:each="group : ${formGroups}"
                                                            th:value="${group.name()}"
                                                            th:text="${group.label}"
                                                            th:selected="${group.name() == 'SIGNUP'}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="custom-label required" for="name">필드명</label>
                                            <div class="input-group">
                                                <input type="text" id="name" name="name"
                                                       class="form-control custom-input" required>
                                                <button class="custom-button" id="name-chk" type="button"
                                                        style="width: 60px;">중복확인
                                                </button>
                                                <span class="validation-error-message" id="name-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                <div for="type" class="required">타입</div>
                                                <select class="nice-select nice-select-style-1 wide" id="typeSelect"
                                                        name="type">
                                                    <option value="" disabled selected>-- Select Type --</option>
                                                    <option th:each="type : ${types}"
                                                            th:value="${type}"
                                                            th:text="${type}"></option>
                                                </select>
                                                <span class="error-message" id="type-error"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <label for="useAt_Y" class="required">필수 여부</label>
                                            <div>
                                                <div style="display: flex; align-items: flex-start; gap: 20px">
                                                    <div>
                                                        <input type="radio" name="required" id="useAt_Y" value="Y"
                                                               style="width: auto; height: auto; margin: 5px 5px 0;"
                                                               checked="">
                                                        <label for="useAt_Y">Y</label>
                                                    </div>
                                                    <div>
                                                        <input type="radio" name="required" id="useAt_N" value="N"
                                                               style="width: auto; height: auto; margin: 5px 5px 0;">
                                                        <label for="useAt_N" style="margin-right: 30px;">N</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="label">라벨</label>
                                            <div class="input-group">
                                                <input type="text" id="label" name="label" class="form-control"
                                                       required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="label">설명</label>
                                            <div class="input-group">
                                                <input type="text" id="description" name="description"
                                                       class="form-control"
                                                       required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="col-lg-4">

                                            <label for="label">기본값</label>
                                            <div class="input-group">
                                                <input type="text" id="defaultValue" name="defaultValue"
                                                       class="form-control"
                                                       required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <label for="label">placeholder</label>
                                            <div class="input-group">
                                                <input type="text" id="placeholder" name="placeholder"
                                                       class="form-control"
                                                       required="">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <!-- e:card1 -->

                        <!-- s:card2 -->
                        <form class="needs-validation" id="save-form-child" novalidate="" style="display: none;">

                            <div class="card" style="margin-top: 10px">
                                <div class="pb-3 border-bottom" style="padding: 15px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="mb-0">옵션</h6>
                                        <button type="button" class="custom-button" style="width: 80px;" id="add-child">
                                            추가
                                        </button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-bordered text-center">
                                            <colgroup>
                                                <col style="width: 43%">
                                                <col style="width: 42%">
                                                <col style="width: 15%">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th class="text-center">라벨</th>
                                                <th class="text-center">이름</th>
                                                <th class="text-center"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="table-body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- s:card2 -->

                    </div>

                </div>
            </div>

            <!-- e:list -->

        </div>
    </div>

    <th:block th:replace="asp/form/preview-modal"></th:block>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/manager/form-builder-dual.js'}"></script>
    <script th:src="@{'/assets/js/sortablejs-1.15.6.js'}"></script>
    <script th:inline="javascript">
        let selectedUid;
        const formGroup = [[${formGroups}]]
        const updtChild = $("#save-form-child");
        const typeSelect = $("#typeSelect");
        const saveBtn = $("#save-btn");
        const updateBtn = $("#update-btn");
        const deleteBtn = $("#delete-btn");
        $(function () {
            typeSelect.on('change', function () {
                $("#table-body").empty()
                const selectedValue = this.value;
                if (selectedValue === "SELECT" || selectedValue === "MULTISELECT" || selectedValue === "RADIO" || selectedValue === "CHECKBOX") {
                    updtChild.show()
                    formJS.addTr();
                } else {
                    updtChild.hide();
                }
            })

            $("#add-child").on('click', formJS.addTr);
            $("#name-chk").on('click', formJS.checkName);
            $(document).on('click', '.remove-tr-btn', formJS.removeTr);
            $("#new-btn").on('click', formJS.newInfo);
            $("#save-btn").on('click', formJS.saveForm);
            $("#update-btn").on('click', formJS.updateForm)
            $("#delete-btn").on('click', formJS.deleteForm)
            $("#preview-btn").on('click', formJS.previewModal)
            $("#col-num").on('change', formJS.previewModal)

            // 초기 로딩
            $.each(formGroup, function (index, item) {
                formJS.createTable(item);
            });
            const item = sessionStorage.getItem('formGroup')

            if (item) {
                const tabSelector = `.description-review-topbar a[data-type="${item}"]`;
                const tabPaneId = `#${item.toLowerCase()}-tab`;

                $(tabSelector).addClass('active').siblings().removeClass('active');
                $('.tab-pane').removeClass('show active');
                $(tabPaneId).addClass('show active');
            }

            $(".description-review-topbar a").on("click", function () {
                const type = $(this).data('type');
                sessionStorage.setItem('formGroup', type);
            });

            formJS.optionControl()

        });

    </script>
</th:block>
</html>