<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
  <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
    <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
  </th:block>
</th:block>

<th:block layout:fragment="head">
  <style>
    .form-control {
      border: 1px solid #e8e8e8;
      height: 40px;
      background-color: transparent;
      padding: 2px 20px;
      color: #1f2226;
      font-size: 13px;
    }

    .input-group .btn {
      border: 1px solid #e8e8e8; /* input과 동일한 border */
      height: 50px; /* input과 동일한 높이 */
      background-color: transparent; /* 배경 투명 */
      color: white; /* 텍스트 색상 */
      font-size: 15px; /* 폰트 크기 맞추기 */
      padding: 0 20px; /* 좌우 여백 */
      border-top-right-radius: .375rem;
      border-bottom-right-radius: .375rem;
    }
  </style>
  <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}"/>
  <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-form.css'}"/>
</th:block>

<th:block layout:fragment="content">
  <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
    <div class="container">

      <div class="section-title-2 st-border-center text-center mb-35">
        <h2>폼 관리</h2>
      </div>
      <hr>

      <!-- s:buttons -->
      <div>

        <div class="d-flex justify-content-end pe-4">
          <div class="btn-container" style="margin-top: 0px !important;">
            <!-- 왼쪽 버튼 -->
            <!-- 오른쪽 버튼들 -->
            <div class="right-buttons">
              <button type="button" class="custom-button" id="update-btn">저장</button>
              <button type="button" class="custom-button" id="del-btn">삭제</button>
              <button type="button" class="custom-button" id="list-btn">목록</button>
            </div>
          </div>
        </div>
      </div>
      <!-- e:buttons -->

      <!-- s:card1 -->
      <div class="card" style="margin-top: 30px">
        <div class="pb-3 border-bottom" style="padding: 30px;">
          <div class="row align-items-center">
            <h3 class="mb-0">기본 정보</h3>
          </div>
        </div>

        <form class="needs-validation" id="update-form-parent" novalidate="">
          <input type="hidden" value="SIGNUP" name="formGroup"/>
          <input type="hidden" th:value="${uid}" name="uid">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                  <div for="typeSelect" class="required">타입</div>
                  <select class="nice-select wide nice-select-style-1" id="typeSelect" disabled>
                    <option value="" disabled selected>-- Select Type --</option>
                    <option th:each="type : ${types}"
                            th:text="${type}" th:value="${type}" th:selected="${type.name() == obj.type}"></option>
                  </select>
                <input type="hidden" name="type" th:value="${obj.type}"/>
              </div>

              <div class="col-lg-6">
                <label for="useAt_Y" class="required">필수 여부</label>
                <div>
                  <div style="display: flex; align-items: flex-start; gap: 20px">
                    <div>
                      <input type="radio" name="required" id="useAt_Y" value="Y"
                             style="width: auto; height: auto; margin: 5px 5px 0;" th:checked="${obj.required}">
                      <label for="useAt_Y">Y</label>
                    </div>
                    <div>
                      <input type="radio" name="required" id="useAt_N" value="N"
                             style="width: auto; height: auto; margin: 5px 5px 0;" th:checked="${!obj.required}">
                      <label for="useAt_N" style="margin-right: 30px;">N</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <label for="label">라벨</label>
                <div class="input-group">
                  <input type="text" id="label" name="label" class="form-control" required="" th:value="${obj.label}">
                  <div class="invalid-feedback">필수 정보입니다.</div>
                </div>
              </div>

              <div class="col-lg-6">
                <label for="label">필드명</label>
                <div class="input-group">
                  <input type="text" id="name" name="name" class="form-control" required="" th:value="${obj.name}" readonly>
                  <div class="invalid-feedback">필수 정보입니다.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="label">설명</label>
                <div class="input-group">
                  <input type="text" id="description" name="description" class="form-control" required="" th:value="${obj.description}">
                  <div class="invalid-feedback">필수 정보입니다.</div>
                </div>
              </div>

              <div class="col-lg-6">
                <label for="label">placeholder</label>
                <div class="input-group">
                  <input type="text" id="placeholder" name="placeholder" class="form-control" required="" th:value="${obj.placeholder}">
                  <div class="invalid-feedback">필수 정보입니다.</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <label for="label">기본값</label>
                <div class="input-group">
                  <input type="text" id="defaultValue" name="defaultValue" class="form-control" required="" th:value="${obj.defaultValue}">
                  <div class="invalid-feedback">필수 정보입니다.</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- e:card1 -->

      <!-- s:card2 -->
      <form class="needs-validation" id="update-form-child" novalidate="" th:if="${obj.options != null and !#lists.isEmpty(obj.options)}">

        <div class="card" style="margin-top: 30px">
          <div class="pb-3 border-bottom" style="padding: 30px;">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="mb-0">Options</h3>
              <button type="button" class="custom-button" style="width: 80px;" id="add-child">추가</button>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered text-center">
                <colgroup>
                  <col style="width: 20%">
                  <col style="width: 30%">
                  <col style="width: 30%">
                  <col style="width: 20%">
                </colgroup>
                <thead>
                <tr>
                  <th>번호</th>
                  <th>라벨</th>
                  <th>이름</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="table_body">
                  <tr th:each="option : ${obj.options}">
                    <input type="hidden" name="uid" th:value="${option.uid}"/>
                    <td th:text="${option.uid}"></td>
                    <td><input type="text" id="child-label" class="form-control" name="label" required th:value="${option.label}"></td>
                    <td><input type="text" id="child-name" class="form-control" name="name" required th:value="${option.name}"></td>
                    <td><button type="button" class="custom-button remove-tr-btn">삭제</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
      <!-- s:card2 -->

    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{'/assets/js/page/manager/form-builder.js'}"></script>
  <script th:inline="javascript">
    const uid = [[${uid}]]
    $(function () {

      $("#update-btn").on('click', function () {
        codeJS.updateForm();
      });

      $(document).on('click', '.remove-tr-btn', function () {
        codeJS.removeTr(this);
      });

      $("#list-btn").on("click", function () {
        window.location.href = '/asp/cetus/form'
      });

      $("#del-btn").on("click", function () {
          codeJS.deleteForm(uid)
      })

      $("#add-child").on('click', function () {
          codeJS.addTr();
      });

    });

  </script>
</th:block>
</html>