<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <style>
        tr.odd {
            cursor: pointer;
        }

        tr.even {
            cursor: pointer;
        }

        #code-table_length {
            text-align: left !important;
        }

        #code-table_paginate {
            text-align: right !important;
        }

        /* 상위 row에서 flex 정렬 강제 적용 */
        .d-flex.justify-content-between.row {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-wrap: wrap; /* 줄바꿈 허용 */
        }
    </style>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}"/>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-form.css'}"/>
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title-2 st-border-center text-center mb-35">
                <h2>폼 관리</h2>
            </div>
            <hr>
            <!-- s:list -->
            <div>
                <div class="description-review-topbar nav" data-aos-delay="200" style="display: none;">
                    <th:block th:each="group, iterStat : ${formGroups}">
                        <a th:classappend="${iterStat.index == 0} ? ' active'"
                           th:attr="data-type=${group.name()}, data-bs-toggle='tab'"
                           th:href="'#' + ${group.name().toLowerCase()} + '-tab'">
                            <span th:text="${group.label}">탭 이름</span>
                        </a>
                    </th:block>
                </div>
                <div style="display: flex; justify-content: right;">
                    <button type="button" class="custom-button m-2" style="width: 50px;" onclick="codeJS.sortColumns('prev')">↑</button>
                    <button type="button" class="custom-button m-2" style="width: 50px;" onclick="codeJS.sortColumns('next')">↓</button>
                    <button type="button" class="custom-button m-2" id="new-btn">새로 등록</button>
                </div>
                <div class="container">
                    <div class="tab-content">
                        <div class="tab-pane fade"
                             th:each="group, iterStat : ${formGroups}"
                             th:id="${group.name().toLowerCase()} + '-tab'"
                             th:classappend="${iterStat.index == 0} ? ' show active'">

                            <div class="table-responsive mt-3 text-center">
                                <table class="table table-bordered" th:id="${group.name().toLowerCase() + '-table'}">
                                    <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th>순서</th>
                                        <th>빌더 타입</th>
                                        <th>라벨</th>
                                        <th>필드명</th>
                                        <th>필수 여부</th>
                                        <th>등록일</th>
                                        <th>등록자</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- e:list -->

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/manager/form-builder.js'}"></script>
    <script th:inline="javascript">
        const formGroup = [[${formGroups}]]

        $(function () {
            // 초기 로딩
            $.each(formGroup, function (index, item) {
                codeJS.createTable(item);
            });



            const item = sessionStorage.getItem('formGroup')
            if (item) {
                const tabSelector = `.description-review-topbar a[data-type="${item}"]`;
                const tabPaneId = `#${item.toLowerCase()}-tab`;

                $(tabSelector).addClass('active').siblings().removeClass('active');
                $('.tab-pane').removeClass('show active');
                $(tabPaneId).addClass('show active');
            }

            $(".description-review-topbar a").on("click", function () {
                const type = $(this).data('type');
                sessionStorage.setItem('formGroup', type);
            });

            $("#new-btn").on('click', function () {
                window.location.href = '/asp/cetus/form/save'
            });

        });

    </script>
</th:block>
</html>