<!DOCTYPE html>
<html>
<div class="modal modal-primary fade text-start" id="previewModal" tabindex="-1" aria-labelledby="previewModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="previewModalTitle">폼 미리보기</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-3 m-2">
                    <select class="nice-select nice-select-style-1" id="col-num">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
</html>
