<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <style>
        .input-group input {
            border: 1px solid #e8e8e8;
            height: 50px;
            background-color: transparent;
            padding: 2px 20px;
            color: #1f2226;
            font-size: 13px;
        }

        .input-group .btn {
            border: 1px solid #e8e8e8; /* input과 동일한 border */
            height: 50px; /* input과 동일한 높이 */
            background-color: transparent; /* 배경 투명 */
            color: white; /* 텍스트 색상 */
            font-size: 15px; /* 폰트 크기 맞추기 */
            padding: 0 20px; /* 좌우 여백 */
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }

        .error-message {
            color: #ea5455; /* 텍스트 색상 */
            font-size: 0.775rem;
            display: block; /* 라벨을 블록 요소로 설정하여 한 줄로 표현 */
            margin-top: 5px; /* 입력 필드와의 간격 조정 */
        }

        .nice-select.is-invalid {
            border-color: #ea5455 !important; /* 부트스트랩의 빨간색 */
        }
    </style>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}"/>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-form.css'}"/>
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-100">
        <div class="container">

            <div class="section-title-2 st-border-center text-center mb-35 aos-init aos-animate" data-aos="fade-up"
                 data-aos-delay="200">
                <h2>컨텐츠 관리</h2>
            </div>
            <hr>

            <!-- s:buttons -->
            <div>
                <div class="d-flex justify-content-end pe-4">
                    <div class="btn-container" style="margin-top: 0px !important;">
                        <!-- 왼쪽 버튼 -->
                        <!-- 오른쪽 버튼들 -->
                        <div class="right-buttons">
                            <button type="button" class="custom-button" id="save-btn">저장</button>
                            <button type="button" class="custom-button" id="list-btn">목록</button>
                        </div>
                        <div class="error-message" id="formGroup-error"></div>
                    </div>
                </div>
            </div>
            <!-- e:buttons -->

            <!-- s:card1 -->
            <div class="card" style="margin-top: 10px">
                <form class="needs-validation" id="save-form-parent" novalidate="">
                    <div class="pb-3 border-bottom" style="padding: 30px;">
                        <div class="row align-items-center">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <h3 class="mb-0">기본 정보</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">워크플레이스 UID</label>
                                <div class="input-group">
                                    <input type="text" id="label" name="label" class="form-control" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="label">컨텐츠 제목</label>
                                <div class="input-group">
                                    <input type="text" id="title" name="title" class="form-control" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">컨텐츠 설명</label>
                                <div class="input-group">
                                    <input type="text" id="description" name="description" class="form-control" required="">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label for="label">컨텐츠 내용</label>
                                <div class="input-group">
                                    <input type="text" id="contents" name="contents" class="form-control" required="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">메타데이터 (json)</label>
                                <div class="input-group">
                                    <input type="text" id="metadata" name="metadata" class="form-control" required="">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label for="label">샘플 데이터 (json)</label>
                                <div class="input-group">
                                    <input type="text" id="sampleData" name="sampleData" class="form-control" required="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">썸네일</label>
                                <div class="input-group">
                                    <input type="text" id="metadata" name="metadata" class="form-control" required="">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label for="label">첨부파일</label>
                                <div class="input-group">
                                    <input type="text" id="sampleData" name="sampleData" class="form-control" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- e:card1 -->

            <!-- s:card2 -->
            <form class="needs-validation" id="save-form-child" novalidate="" style="display: none;">

                <div class="card" style="margin-top: 30px">
                    <div class="pb-3 border-bottom" style="padding: 30px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="mb-0">Options</h3>
                            <button type="button" class="custom-button" style="width: 80px;" id="add-child">추가</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered text-center">
                                <colgroup>
                                    <col style="width: 20%">
                                    <col style="width: 30%">
                                    <col style="width: 30%">
                                    <col style="width: 20%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>라벨</th>
                                    <th>이름</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="table_body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <!-- s:card2 -->

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/manager/form-builder.js'}"></script>
    <script th:inline="javascript">
        const updtChild = $("#save-form-child");
        const typeSelect = $("#typeSelect");
        $(function () {
            typeSelect.on('change', function () {
                $("#table_body").empty()
                const selectedValue = this.value;
                if (selectedValue === "SELECT" || selectedValue === "MULTISELECT" || selectedValue === "RADIO" || selectedValue === "CHECKBOX") {
                    updtChild.show()
                    codeJS.addTr();
                } else {
                    updtChild.hide();
                }
            })

            $("#save-btn").on('click', function () {
                codeJS.saveForm();
            });

            $("#list-btn").on("click", function () {
                window.location.href = '/asp/cetus/form'
            });

            $("#codeChk-btn").on('click', function () {
                codeJS.checkId($("#code").val());
            });

            $("#add-child").on('click', function () {
                codeJS.addTr();
            });

            $("#name-chk").on('click', function () {
                codeJS.checkName();
            })
            $(document).on('click', '.remove-tr-btn', function () {
                codeJS.removeTr(this);
            });

        });

    </script>
</th:block>
</html>