<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
  <th:block th:with="title=${currentPageName}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
    <th:block th:replace="fragments/center-image :: center-image(${title}, ${leftImg}, ${rightImg})"></th:block>
  </th:block>
</th:block>

<th:block layout:fragment="head">
  <link rel="stylesheet" th:href="@{'/assets/css/page/myInfo.css'}" />
</th:block>

<th:block layout:fragment="head">
  <style>
    /* 버튼 정렬 */
    .btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
    }
  </style>
</th:block>

<th:block layout:fragment="content">
  <div class="my-account-wrapper pt-80" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
      <div class="section-title-2 st-border-center text-center mb-35">
        <h2>내 정보 수정</h2>
      </div>
      <hr>
      <div class="my-account-wrapper pb-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- My Account Page Start -->
              <div class="myaccount-page-wrapper">
                <!-- My Account Tab Menu Start -->
                <div class="row" style="margin-bottom: 20px;">
                  <div class="col-lg-12 col-md-8">
                    <div id="account-info">
                      <div class="myaccount-content" style="border: 0px; padding: 0px !important;">
                        <div class="account-details-form">

                          <form class="needs-validation" id="update-form" novalidate="">

                            <input type="hidden" id="userUid" th:value="${view?.uid}" />
                            <div class="row custom-row">
                              <div class="col-lg-6">
                                <div class="single-input-item">
                                  <label for="userNm" class="custom-label required">이름<span class="req">*</span></label>
                                  <input class="form-control custom-input" type="text" id="userNm" name="userNm" th:value="${view?.userNm}" required>
                                  <span class="validation-error-message" id="userNm-error"></span>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <label class="custom-label required" for="userId">아이디<span class="req">*</span></label>
                                <input type="text" id="userId" name="userId" class="form-control custom-input" th:value="${view?.userId}" disabled readonly required>
                              </div>
                            </div>

                            <div class="row custom-row">

                              <div class="col-lg-6">
                                <label for="password" class="custom-label">비밀번호</label>
                                <div class="input-group">
                                  <input type="password" id="password" name="password" class="form-control custom-input" placeholder="영문 + 숫자 + 특수문자 조합 8자 이상" disabled readonly>
                                  <button class="custom-button" id="password-change" type="button">비밀번호 변경</button>
                                  <div class="invalid-feedback">영문 + 숫자 + 특수문자 조합 8자 이상</div>
                                </div>
                                <span class="validation-error-message" id="password-error"></span>
                              </div>

                              <div class="col-lg-6">
                                <div class="single-input-item">
                                  <label for="confirmPassword" class="custom-label">비밀번호 확인</label>
                                  <input class="form-control custom-input" type="password" id="confirmPassword" placeholder="영문 + 숫자 + 특수문자 조합 8자 이상" required="" disabled readonly>
                                  <div class="invalid-feedback">새 패스워드가 일치하지 않습니다.</div>
                                </div>
                              </div>
                            </div>

                            <div class="row custom-row" >

                              <div class="col-lg-6">
                                <label for="userEmail" class="custom-label">이메일<span class="req">*</span></label>
                                <input type="hidden" id="userEmail-origin" th:value="${view?.userEmail}" />
                                <div class="input-group">
                                  <input type="email" id="userEmail" name="userEmail" class="form-control custom-input" required="" th:value="${view?.userEmail}" readonly disabled>
                                  <button class="custom-button" id="userEmail-change" type="button">이메일 변경</button>
                                </div>
                                <span class="validation-error-message" id="userEmail-error"></span>
                              </div>
                            </div>

                            <hr style="border: 1px dashed #ccc; margin-top: 30px; margin-bottom: 30px;">
                            <th:block th:with="rowSize=2, colClass=${'col-lg-' + (12 / rowSize)}">
                              <th:block th:each="i : ${#numbers.sequence(0, fields.size() - 1, rowSize)}">
                                <div class="row custom-row">
                                  <th:block th:each="j : ${#numbers.sequence(i, i + rowSize - 1)}"
                                            th:if="${j < fields.size()}">
                                    <th:block th:with="field=${fields[j]}">
                                      <div th:replace="fragments/form-field :: render(${field}, ${colClass}, ${metadata})"></div>
                                    </th:block>
                                  </th:block>
                                </div>
                              </th:block>
                            </th:block>
                            <hr style="border: 1px dashed #ccc; margin-top: 30px; margin-bottom: 30px;">

                            <div class="d-flex justify-content-end pe-4">
                              <div class="btn-container" style="margin-top: 0px !important;">
                                <!-- 왼쪽 버튼 -->
                                <!-- 오른쪽 버튼들 -->
                                <div class="right-buttons">
                                  <button type="button" class="custom-button" id="save-btn">수정</button>
                                </div>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- My Account Page End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</th:block>


<th:block layout:fragment="script">
  <script th:src="@{'/assets/js/page/myInfo.js'}"></script>

  <script th:inline="javascript">

    const uid = $("#userUid").val()
    const fields = [[${fields}]]
    const metadata = [[${metadata}]]
    const builder = new Formbuilder(fields, metadata);

    $(function(e) {

      $("#password-change").on('click', function () {
        myInfoJS.passwordChangeBtnClick();
      });

      $("#userEmail-change").on('click', function () {
        myInfoJS.userEmailChangeBtnClick();
      });

      $("#save-btn").on('click', function () {
        myInfoJS.saveForm();
      });

      /* 비밀번호 & 비밀번호 체크 validation 체크 */
      myInfoJS.passwordInput.on('input', myInfoJS.validatePassword);
      myInfoJS.passwordChkInput.on('input', myInfoJS.validatePassword);

    });

  </script>

</th:block>
</html>