<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>
<th:block layout:fragment="head">
    <style>
        .input-group input {
            border: 1px solid #e8e8e8;
            height: 50px;
            background-color: transparent;
            padding: 2px 20px;
            color: #1f2226;
            font-size: 13px;
        }

        .input-group .btn {
            border: 1px solid #e8e8e8; /* input과 동일한 border */
            height: 50px; /* input과 동일한 높이 */
            background-color: transparent; /* 배경 투명 */
            color: white; /* 텍스트 색상 */
            font-size: 15px; /* 폰트 크기 맞추기 */
            padding: 0 20px; /* 좌우 여백 */
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }

        .error-message {
            color: #ea5455; /* 텍스트 색상 */
            font-size: 0.775rem;
            display: block; /* 라벨을 블록 요소로 설정하여 한 줄로 표현 */
            margin-top: 5px; /* 입력 필드와의 간격 조정 */
        }

        .nice-select.is-invalid {
            border-color: #ea5455 !important; /* 부트스트랩의 빨간색 */
        }
    </style>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}"/>
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-form.css'}"/>
</th:block>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title-2 st-border-center text-center mb-35">
                <h2>코드 관리</h2>
            </div>
            <hr>
            <div>
                <!-- s:search -->
                <form id="search-form-id">
                    <div class="topbar-container">
                        <div class="topbar-left">
                            <span id="total-num"></span>
                            <div class="btn-wrapper">
                                <div class="col-12 col-xl-4 mb-1 mb-lg-0">
                                    <select class="form-select round select_line custom-input" id="useAt" name="useAt"
                                            onchange="searchTable()">
                                        <option value="">사용 전체</option>
                                        <option value="Y">사용</option>
                                        <option value="N">미사용</option>
                                    </select>
                                </div>
                                <div class="col-12 col-xl-7 mb-1 mb-lg-0">
                                    <div class="search_wrap">
                                        <input
                                                type="text"
                                                id="search_txt1"
                                                class="form-control round border_line custom-input"
                                                name="browseText"
                                                placeholder="그룹코드명, 그룹코드ID 검색"
                                        />
                                        <i class="btn_del" id="search_txt1-del-icon" style="display: none; cursor: pointer"></i>
                                        <i class="icon_search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topbar-right">
                            <div class="btn-wrapper">
                                <button type="button" class="custom-button m-2" onclick="location.href='/manager/code/save'">새로 등록</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- e:search -->
                <!-- s:list -->
                <div class="container">
                    <div class="table-responsive mt-3 text-center">
                        <table class="table table-bordered" id="code-table">
                            <thead class="table-light">
                            <tr>
                                <th>번호</th>
                                <th>그룹코드명</th>
                                <th>그룹코드ID</th>
                                <th>그룹코드설명</th>
                                <th>등록코드수</th>
                                <th>사용여부</th>
                                <th>등록일</th>
                                <th>등록자</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- e:list -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        let table = null

        $(function () {
            table = new Table("code-table")
                .delUnUseParams()
                .get("/manager/api/code")
                .switchDiv()
                .add(new Column("uid"))
                .add(new Column("codeNm").center())
                .add(new Column("code").center())
                .add(new Column("codeDc").center())
                .add(new Column("checkChild").center())
                .add(new Column("useAt").center().switchToggle(true))
                .add(new Column("regDt").center())
                .add(new Column("regNm").center())
                .selectable()
                .select(function (data) {
                    const form = $('<form>', {
                        action: '/manager/code/form',
                        method: 'POST'
                    }).append(
                        $('<input>', {type: 'hidden', name: 'code', value: data.code}),
                        $('<input>', {type: 'hidden', name: 'uid', value: data.uid})
                    );
                    $('body').append(form);
                    form.submit();
                })
                .init();

            /* 검색 이벤트 */
            $('#search_txt1').keypress(function (e) {
                if (e.keyCode === 13 || e.keyCode === 10 || e.key === 'Enter') {
                    e.preventDefault();
                    searchTable()
                }
            });

            /* 검색 입력 이벤트 */
            $("#search_txt1").on('input', () => {
                if ($("#search_txt1").val().trim() !== '') document.getElementById("search_txt1-del-icon").style.display = 'block'
                else document.getElementById("search_txt1-del-icon").style.display = 'none'
            });

            /* 검색 (x) 버튼 클릭 이벤트 */
            $("#search_txt1-del-icon").on("click", function (e) {
                e.preventDefault()
                $("#search_txt1").val('')
                document.getElementById("search_txt1-del-icon").style.display = 'none'
                searchTable();
            })
        });

        function searchTable() {
            FormDataToObj.getParameterWithOutBlank("search-form-id").then(obj => table.submit(obj))
        }

        function toggleApprove(uid, checked) {
            event.stopPropagation()
            const useAt = checked ? 'Y' : 'N';
            Http.put(`/manager/api/code/change-useAt`, {uid, useAt}).then(() => {
                Util.alert([[#{alert.update('코드 사용여부')}]]).then(() => table.submit());
            });
        }

    </script>
</th:block>
</html>
