<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="divTabDetailReport">
  <div class="row" style="margin-bottom: 25px;">
    <div class="container">
      <div id="detailRating" class="ratting-form-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="blog-details-wrapper mb-40" data-aos="fade-up" data-aos-delay="200">

          <div class="sidebar-widget">
            <div class="sidebar-widget-title-2 mb-25">
                <h3>평점 등록</h3>
            </div>
          </div>

          <div class="grand-total-wrap">
            <div class="grand-total-content" style="padding: 0px; background: transparent;">
              <div class="grand-shipping" style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                <ul style="display: flex; gap: 30px; align-items: center; padding: 0px;">
                  <li style="margin: 0px;">
                    <label>
                      <input type="radio" name="detail-ratting-group" id="OPINION" value="OPINION" checked="checked">
                      의견
                    </label>
                  </li>
                  <li style="margin: 0px;">
                    <label>
                      <input type="radio" name="detail-ratting-group" id="QUESTION" value="QUESTION">
                      문의
                    </label>
                  </li>
                  <li style="margin: 0px;">
                    <label>
                      <input type="radio" name="detail-ratting-group" id="REPORT" value="REPORT">
                      오류신고
                    </label>
                  </li>
                </ul>
                <div class="your-rating tab-state">
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="ratting-form">
            <form action="#">
              <div class="row">
                <div class="col-md-12">
                  <div class="rating-form-style mb-15">
                    <input type="text" placeholder="데이터에 대한 의견 또는 문의, 오류신고 등록">
                    <div class="form-submit" style="display: flex; justify-content: end;">
                      <div class="page-more-update-wrapper btn-control-wrapper">
                        <div class="page-more-update btn-hover">
                          <a href="javascript:void(0);" id="btnRatingSubmit">
                            <span>등록하기</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="ratingList" class="blog-details-wrapper">
        <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
          <div class="sidebar-widget-title-2 mb-25">
              <h3>평점 조회</h3>
          </div>
          <div class="sidebar-list-style-2">
              <ul>
                  <li><a href="javascript:void(0);" class="tab-title active">전체 (<span id="ALL_CNT">0</span>)</a></li>
                  <li><a href="javascript:void(0);" class="tab-title">의견 (<span id="OPINION_CNT">0</span>)</a></li>
                  <li><a href="javascript:void(0);" class="tab-title">문의 (<span id="QUESTION_CNT">0</span>)</a></li>
                  <li><a href="javascript:void(0);" class="tab-title">오류신고 (<span id="REPORT_CNT">0</span>)</a></li>
              </ul>
          </div>
        </div>
        <div class="blog-comment-wrapper"></div>
      </div>

    </div>
  </div>
  <script th:src="@{'/assets/js/page/detail/detail-template04.js'}"></script>
</th:block>
</html>