<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="divTabSwaggerTest">
  <div class="row" style="margin-bottom: 25px;">
    <div class="row aos-init aos-animate" style="margin-bottom: 25px; padding-right: 0px !important;" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-6">
        <div class="specification-wrap table-responsive">
          <table>
            <tbody>
            <tr>
              <td class="width1">API 이름</td>
              <td id="apiName2">데이터 공식 API</td>
            </tr>
            <tr>
              <td class="width1">버전 정보</td>
              <td id="apiVersion2">V1.2</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="specification-wrap table-responsive">
          <table>
            <tbody>
            <tr>
              <td class="width1">인증 여부</td>
              <td id="certification2">인증 성공</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="padding-right: 0px !important;">
      <iframe id="swagger-frame" src="/swagger-ui.html" width="100%" height="1400px" onload="detail05.onloadIframe()"></iframe>
    </div>
  </div>
  <script th:src="@{'/assets/js/page/detail/detail-template05.js'}"></script>
</th:block>
</html>