<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default2}">

<!-- (방법1) [title1, title2]처럼 [AspController]에서 모델로 내려준다. (추후 DB 사용 고려) -->
<!-- (방법2) [leftImg, rightImg]처럼 각각의 html 페이지에서 하드코딩 -->
<th:block layout:fragment="center-image">
    <th:block th:with="title1=${title1}, title2=${title2}, leftImg='', rightImg='/assets/images/page/right_slide.png'">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/home.css'}" />
</th:block>

<th:block layout:fragment="content">

    <div class="checkout-main-area pb-100 pt-80">

        <!-- S : Checkout wrap1 -->
        <div class="checkout-wrap pb-95" data-aos="fade-up" data-aos-delay="200" id="menu-category-wrap-01">
            <div class="container">
                <div class="row">

                    <!-- S: 좌측 Menu Category -->
                    <div class="col-lg-3 col-md-12 col-12">
                        <div class="sidebar-widget sidebar-widget-border mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3 id="menu-category-h3-01">Menu Category</h3>
                            </div>
                            <div class="sidebar-widget-size sidebar-list-style">
                                <ul id="menu-category-list-01" class="category-list"></ul>
                            </div>
                            <div class="page-more-update-wrapper">
                                <div class="page-more-update btn-hover">
                                    <a href="javascript:void(0);" id="menu-category-more-01">더보기 &nbsp; &gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: 좌측 Menu Category -->

                    <!-- S: 우측 IMG CARD EMPTY LIST -->
                    <div class="col-lg-9 col-md-12 col-12" id="menu-category-right-empty-01">
                        <div class="row" style="height: 100%;">
                            <div class="col-lg-6 col-md-12 col-12 card-padding-5">
                                <div class="card card-banner empty">
                                    <span>카테고리를 선택해주세요.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12 card-padding-5">
                                <div class="card card-banner empty">
                                    <span>카테고리를 선택해주세요.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: 우측 IMG CARD EMPTY LIST -->

                    <!-- S: 우측 IMG CARD LIST -->
                    <div style="display: none;" class="col-lg-9 col-md-12 col-12" id="menu-category-right-card-01">
                        <div class="row" style="height: 100%;" id="menu-category-right-row-01">
                            <div class="col-lg-6 col-md-12 col-12 card-padding-5">
                                <div class="card card-banner">
                                    <div class="card-padding-10">
                                        <span>Banner sub-focus1</span>
                                        <h3 style="margin-top: 10px;">Space For Heading1</h3>
                                    </div>

                                    <div class="card-padding-10">
                                        <div class="slider-btn-3 btn-hover">
                                            <a href="javascript:void(0)" class="btn theme-color animated">
                                                컨텐츠 다운로드 >
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-12 card-padding-5">
                                <div class="card card-banner">
                                    <div class="card-padding-10">
                                        <span>Banner sub-focus2</span>
                                        <h3 style="margin-top: 10px;">Space For Heading2</h3>
                                    </div>

                                    <div class="card-padding-10">
                                        <div class="slider-btn-3 btn-hover">
                                            <a href="javascript:void(0);" class="btn theme-color animated">
                                                컨텐츠 다운로드 >
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: 우측 IMG CARD LIST -->

                </div>
            </div>
        </div>
        <!-- E : Checkout wrap1 -->

        <!-- S : Checkout wrap2 -->
        <div class="checkout-wrap pb-95" data-aos="fade-up" data-aos-delay="200" id="menu-category-wrap-02">
            <div class="container">
                <div class="row">

                    <!-- S: 좌측 Menu Category -->
                    <div class="col-lg-3 col-md-12 col-12">
                        <div class="sidebar-widget sidebar-widget-border mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3 id="menu-category-h3-02">Menu Category</h3>
                            </div>
                            <div class="sidebar-widget-size sidebar-list-style">
                                <ul id="menu-category-list-02" class="category-list"></ul>
                            </div>
                            <div class="page-more-update-wrapper">
                                <div class="page-more-update btn-hover">
                                    <a href="javascript:void(0);" id="menu-category-more-02">더보기 &nbsp; &gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: 좌측 Menu Category -->

                    <!-- S: 우측 IMG CARD EMPTY LIST -->
                    <div class="col-lg-9 col-md-12 col-12" id="menu-category-right-empty-02">
                        <div class="row" style="height: 100%;">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 card-padding-5">
                                <div class="card card-banner empty">
                                    <span>카테고리를 선택해주세요.</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 card-padding-5">
                                <div class="card card-banner empty">
                                    <span>카테고리를 선택해주세요.</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 card-padding-5">
                                <div class="card card-banner empty">
                                    <span>카테고리를 선택해주세요.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: 우측 IMG CARD EMPTY LIST -->

                    <!-- S: 우측 IMG CARD LIST -->
                    <div class="col-lg-9 col-md-12 col-12" style="display: none;" id="menu-category-right-card-02">
                        <div class="row" id="menu-category-right-row-02">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 card-padding-5">
                                <div class="page-wrap mb-35">
                                    <div class="page-img img-zoom mb-25">
                                        <a href="javascript:void(0);">
                                            <img th:src="@{'/assets/images/product/product-5.png'}" alt="">
                                        </a>
                                        <div class="page-action-wrap">
                                            <button class="page-action-btn-1" title="Wishlist">
                                                <i class="pe-7s-like"></i>
                                            </button>
                                            <button class="page-action-btn-1" title="Quick View">
                                                <i class="pe-7s-shuffle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="page-content">
                                        <h3><a href="javascript:void(0);">Data Title</a></h3>
                                        <div class="page-price">
                                            <span>Description of This Content</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 card-padding-5">
                                <div class="page-wrap mb-35">
                                    <div class="page-img img-zoom mb-25">
                                        <a href="javascript:void(0);">
                                            <img th:src="@{'/assets/images/product/product-5.png'}" alt="">
                                        </a>
                                        <div class="page-action-wrap">
                                            <button class="page-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                            <button class="page-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-shuffle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="page-content">
                                        <h3><a href="javascript:void(0);">Data Title</a></h3>
                                        <div class="page-price">
                                            <span>Description of This Content</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 card-padding-5">
                                <div class="page-wrap mb-35">
                                    <div class="page-img img-zoom mb-25">
                                        <a href="javascript:void(0);">
                                            <img th:src="@{'/assets/images/product/product-6.png'}" alt="">
                                        </a>
                                        <div class="page-action-wrap">
                                            <button class="page-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                            <button class="page-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-shuffle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="page-content">
                                        <h3><a href="javascript:void(0);">Data Title</a></h3>
                                        <div class="page-price">
                                            <span>Description of This Content</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- E: 우측 IMG CARD LIST -->
                </div>
            </div>
        </div>
        <!-- E : Checkout wrap2 -->

        <!-- S : Checkout wrap3 -->
        <div class="checkout-wrap pb-95" data-aos="fade-up" data-aos-delay="200" id="post-wrap-01">
            <div class="container">
                <div class="row">


                    <div th:class="${recentBbsctt.size() <= 2} ? 'col-lg-12' : 'col-lg-8'" id="post-wrap-left-01">
                        <div class="row" id="post-wrap-left-row-01">
                            <th:block th:each="recent, recentStatus : ${recentBbsctt}">
                                <th:block th:if="${recentStatus.index < 2}">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog-wrap aos-init aos-animate">
                                            <div class="blog-img-date-wrap mb-25">
                                                <div class="blog-img">
                                                    <a href="javascript:void(0);">
                                                        <img th:src="${recent?.thumbnailSrc}" alt="" onerror="this.src='/assets/images/page/thumbnail_default.png'" width="370">
                                                    </a>
                                                </div>
                                                <div class="blog-date">
                                                    <h5>
                                                        <span th:text="${recent?.day}"></span>
                                                        <span th:text="${recent?.month}"></span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-meta">
                                                    <ul>
                                                        <li>By:&nbsp;<span th:text="${recent?.regNm}"></span></li>
                                                    </ul>
                                                </div>
                                                <h3>
                                                    <a th:href="@{/asp/cetus/bbsctt/view/{id}(id=${recent?.bbscttUid})}" th:text="${recent?.bbscttNm}"></a>
                                                </h3>
                                                <p th:text="${recent?.bbscttCnt}"></p>
                                            </div>
                                        </div>
                                    </div>

                                </th:block>
                            </th:block>
                        </div>
                    </div>

                    <th:block th:if="${recentBbsctt.size() >= 3}">
                        <div class="col-lg-4" id="post-wrap-right-01">
                            <div class="sidebar-widget mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                                <div class="latest-post-wrap" id="post-wrap-right-latest-01">

                                    <th:block th:each="recent, recentStatus : ${recentBbsctt}">
                                        <th:block th:if="${recentStatus.index >= 2 and recentStatus.index <= 4}">
                                            <div class="single-latest-post">
                                                <div class="latest-post-img">
                                                    <a th:href="@{/asp/cetus/bbsctt/view/{id}(id=${recent?.bbscttUid})}">
                                                        <img th:src="${recent?.thumbnailSrc}" alt="" onerror="this.src='/assets/images/page/thumbnail_default.png'" width="115">
                                                    </a>
                                                </div>
                                                <div class="latest-post-content">
                                                    <span th:text="${recent?.regDt}"></span>
                                                    <h4>
                                                        <a th:href="@{/asp/cetus/bbsctt/view/{id}(id=${recent?.bbscttUid})}" th:text="${recent?.bbscttNm}"></a>
                                                    </h4>
                                                    <div class="latest-post-btn">
                                                        <a th:href="@{/asp/cetus/bbsctt/view/{id}(id=${recent?.bbscttUid})}" th:text="${recent?.bbscttCnt}"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </th:block>

                </div>
            </div>
        </div>
        <!-- E : Checkout wrap3 -->
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/home.js'}"></script>
    <script th:inline="javascript">

        const recentBbsctt = [[${recentBbsctt}]]

        $(function(e) {

            window.history.replaceState({}, "", home.startPage);

            home.drawMainContent();

            /* [게시글 왼쪽 영역]에 대해서 {작성자} 클릭 */
            $(document).on('click', '#post-wrap-left-row-01 .post-rgtrUid', function(e) {
                const rgtrUid = $(this).data('uid')
                Util.alert(`uid ${rgtrUid}번에 사용자에 대한 정보를 조회합니다.`)
            })

            /* [2번째 메뉴 > 추천 컨텐츠 > 이미지 호버]시 나오는 [조회하기]버튼 클릭 */
            $(document).on('click', "#menu-category-right-row-02 .view-content-btn", function(e) {
                home.viewContentPage($(this).data('uid'))
            })

            /* [2번째 메뉴 > 추천 컨텐츠]에 나오는 제목 클릭 */
            $(document).on('click', "#menu-category-right-row-02 .content-title", function(e) {
                home.viewContentPage($(this).data('uid'))
            })

            /* [게시글 왼쪽 영역]에 대해서 {이미지, 제목} 클릭 */
            $(document).on('click', '#post-wrap-left-row-01 .post-main-img, #post-wrap-left-row-01 .post-title', function(e) {
                home.viewContentPage($(this).data('uid'))
            })

            /* [게시글 오른쪽 영역]에 대해서 {이미지, 제목, 내용} 클릭 */
            $(document).on('click', '#post-wrap-right-latest-01 .post-main-img, #post-wrap-right-latest-01 .post-title, #post-wrap-right-latest-01 .post-content', function(e) {
                home.viewContentPage($(this).data('uid'))
            })

            /* [1번째] 메뉴에 대해서 {카테고리} 클릭 */
            $(document).on('click', '#menu-category-list-01 a', function(e) {
                home.category1ClickEvent(this)
            });

            /* [2번째] 메뉴에 대해서 {카테고리} 클릭 */
            $(document).on('click', '#menu-category-list-02 a', function(e) {
                home.category2ClickEvent(this);
            });

            /* [1번째 메뉴 > 추천 컨텐츠]에 대해서 [컨텐츠 다운로드] 버튼 클릭 */
            $(document).on('click', '#menu-category-right-row-01 .content-section', function(e) {
                home.category1ContentDownload($(this).data('uid'))
            })

            /* [2번째 메뉴 > 추천 컨텐츠]에 대해서 [이미지 컨텐츠] 영역 클릭 */
            $(document).on('click', '#menu-category-right-row-02 .img-content-section', function(e) {
                home.viewContentPage($(this).data('uid'))
            })

            /* [1번째] 메뉴에 대해서 [더보기] 버튼 클릭 */
            $("#menu-category-more-01").on('click', function(e){
                home.ListContentPage($(this).data('uid'))
            })

            /* [2번째] 메뉴에 대해서 [더보기] 버튼 클릭 */
            $("#menu-category-more-02").on('click', function(e) {
                home.ListContentPage($(this).data('uid'))
            })

            /* [2번째 메뉴 > 추천 컨텐츠 > 이미지 호버]시 나오는 [좋아요]버튼 클릭 */
            $(document).on('click', '#menu-category-right-row-02 .like-content-btn', function(e) {
                home.likeClickEvent(this);
            })

        });
    </script>
</th:block>
</html>