<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
  <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
    <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
  </th:block>
</th:block>

<th:block layout:fragment="head">
  <style>
    .dataTable tr.odd:hover,
    .dataTable tr.even:hover {
      cursor: pointer; /* 선택적으로 커서도 포인터로 */
    }
  </style>
  <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}"/>
</th:block>

<th:block layout:fragment="content">
  <div class="related-product-area pb-100 pt-80"  data-aos="fade-up" data-aos-delay="200">
    <div class="container">
      <div class="section-title-2 st-border-center text-center mb-35">
        <h2>프로그램 관리</h2>
      </div>
      <hr>

      <div>
        <!-- s:search -->
        <form id="search-form-id">
          <div class="topbar-container">
            <div class="topbar-left">
              <span id="total-num"></span>
              <div class="btn-wrapper">
                <div class="col-12 col-xl-4 mb-1 mb-lg-0">
                  <select class="form-select round select_line custom-input" id="useAt" name="useAt">
                    <option value="">사용 전체</option>
                    <option value="Y">사용</option>
                    <option value="N">미사용</option>
                  </select>
                </div>
                <div class="col-12 col-xl-7 mb-1 mb-lg-0">
                  <div class="search_wrap">
                    <input
                        type="text"
                        id="search_txt1"
                        class="form-control round border_line custom-input"
                        name="browseText"
                        placeholder="프로그램명, URL, 등록자 검색"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="topbar-right">
              <div class="btn-wrapper">
                <button type="button" class="custom-button m-2" id="new-btn">프로그램 추가</button>
              </div>
            </div>
          </div>
        </form>
        <!-- e:search -->
        <!-- s:list -->
        <div class="">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered" id="program-table">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>프로그램명</th>
                  <th>URL</th>
                  <th>사용여부</th>
                  <th>등록일</th>
                  <th>등록자</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <!-- e:list -->
      </div>

    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{'/assets/js/page/manager/program/program-list-form.js'}"></script>
  <script th:inline="javascript">

    $(function () {

      programJS.initTable();

      $("#new-btn").on('click', function () {
        window.location.href = '/manager/cetus/program/save'
      });

      /* 검색 이벤트 */
      $('#search_txt1').keypress(function (e) {
        if (e.keyCode === 13 || e.keyCode === 10 || e.key === 'Enter') {
          e.preventDefault();
          programJS.searchTable();
        }
      });
      /* 검색 이벤트 */
      $('#useAt').on('change', function () {
        programJS.searchTable();
      });

    });

  </script>
</th:block>
</html>