<!--
    # main image 영역
    -> 화면에서 상단 중앙에 오는 이미지 영역 부분이다
-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- S: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 바디에 상단 헤더바 있음 } -->
<th:block th:fragment="main-image-title(title1='', title2='', leftImg='', rightImg='')">
    <link rel="stylesheet" th:href="@{'/assets/css/page/center/breadcrumb.css'}" />
    <div>
        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container" id="main-center-text2"  data-aos="fade-up" data-aos-delay="200" style="z-index: 1; position: relative; text-shadow: 1px 1px 1px #eaeaea;">
                <div class="breadcrumb-content text-center aos-init aos-animate">
                    <h2 class="aos-init aos-animate" style="margin-top: 15px;" th:text="${#strings.isEmpty(title1) ? '써드파티 데이터 활용 통합 플랫폼' : title1}"></h2>
                    <ul class="aos-init aos-animate" id="menu-tree-ul2">
                        <li th:text="${#strings.isEmpty(title2) ? '액티브 메타데이터 기반 능동형 데이터 확장 기술 개발' : title2}"></li>
                    </ul>
                </div>
            </div>
            <!-- 좌측 이미지 -->
            <div class="breadcrumb-img-1 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${leftImg}|" onerror="this.src='/assets/images/page/left_slide.png'" alt="" data-aos="fade-right" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: left bottom;">
            </div>
            <!-- 우측 이미지 -->
            <div class="breadcrumb-img-2 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${rightImg}|" onerror="this.src='/assets/images/page/right_slide.png'" alt="" data-aos="fade-left" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: right bottom;">
            </div>
        </div>
        <div class="container" style="margin-top: 50px;" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <ul class="justify-content-start" id="content-tree-ul" style="margin-bottom: 8px;">
                            <th:block th:with="titles=${#strings.setSplit(title2, '>')}">
                                <th:block th:each="item, iterStat : ${titles}">
                                    <li th:if="${iterStat.last}">
                                        <a href="#" th:text="${item}"></a>
                                    </li>
                                    <li th:if="${!iterStat.last}" th:text="${item}"></li>
                                    <li th:if="${!iterStat.last}">
                                        <i class="ti-angle-right"></i>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                        <h2 id="content-tree-text" th:text="${title1}"></h2>
                    </div>
                </div>
                <div class="col-lg-6 justify-content-end" style="flex-direction: row; display: flex;">
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- E: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 바디에 상단 헤더바 있음 } -->



<!-- S: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 바디에 상단 헤더바 없음 } -->
<th:block th:fragment="main-image-title-no-header(title1='', title2='', leftImg='', rightImg='')">
    <link rel="stylesheet" th:href="@{'/assets/css/page/center/breadcrumb.css'}" />
    <div>
        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container"  data-aos="fade-up" data-aos-delay="200" style="z-index: 1; position: relative; text-shadow: 1px 1px 1px #eaeaea;">
                <div class="breadcrumb-content text-center aos-init aos-animate">
                    <h2 class="aos-init aos-animate" style="margin-top: 15px;" th:text="${#strings.isEmpty(title1) ? '써드파티 데이터 활용 통합 플랫폼' : title1}"></h2>
                    <ul class="aos-init aos-animate">
                        <li th:text="${#strings.isEmpty(title2) ? '액티브 메타데이터 기반 능동형 데이터 확장 기술 개발' : title2}"></li>
                    </ul>
                </div>
            </div>
            <!-- 좌측 이미지 -->
            <div class="breadcrumb-img-1 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${leftImg}|" onerror="this.src='/assets/images/page/left_slide.png'" alt="" data-aos="fade-right" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: left bottom;">
            </div>
            <!-- 우측 이미지 -->
            <div class="breadcrumb-img-2 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${rightImg}|" onerror="this.src='/assets/images/page/right_slide.png'" alt="" data-aos="fade-left" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: right bottom;">
            </div>
        </div>
    </div>
</th:block>
<!-- E: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 바디에 상단 헤더바 없음 } -->



<!-- S: 중앙 센터 (메뉴 데이터에 없는 경우) -->
<th:block th:fragment="center-image(title, leftImg, rightImg)">
    <link rel="stylesheet" th:href="@{'/assets/css/page/center/breadcrumb.css'}" />
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container" style="z-index: 1; position: relative; text-shadow: 1px 1px 1px #eaeaea;">
            <div class="breadcrumb-content text-center aos-init aos-animate">
                <h2 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate" th:text="${title}"></h2>
                <ul>
                    <li th:text="${title}"></li>
                </ul>
            </div>
        </div>
        <!-- 좌측 이미지 -->
        <div class="breadcrumb-img-1 aos-init aos-animate">
            <img th:src="|/cetus/files/download?fileId=${leftImg}|" onerror="this.src='/assets/images/page/left_slide.png'" alt="" data-aos="fade-right" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: left bottom;">
        </div>
        <!-- 우측 이미지 -->
        <div class="breadcrumb-img-2 aos-init aos-animate">
            <img th:src="|/cetus/files/download?fileId=${rightImg}|" onerror="this.src='/assets/images/page/right_slide.png'" alt="" data-aos="fade-left" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: right bottom;">
        </div>
    </div>
</th:block>
<!-- E: 중앙 센터 (메뉴 데이터에 없는 경우) -->



<!-- S: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 바디에 상단 헤더바 있음 } + { 기존 바디 컨테이너보다 살짝 width 값이 큼 } -->
<th:block th:fragment="center-image-title-custom(title='', title1='', title2='', leftImg='', rightImg='')">
    <link rel="stylesheet" th:href="@{'/assets/css/page/center/breadcrumb.css'}" />
    <div id="center-image-title-custom">
        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container" data-aos="fade-up" data-aos-delay="200" style="z-index: 1; position: relative; text-shadow: 1px 1px 1px #eaeaea;">
                <div class="breadcrumb-content text-center aos-init aos-animate">
                    <h2 class="aos-init aos-animate" style="margin-top: 15px;" th:text="${#strings.isEmpty(title1) ? '써드파티 데이터 활용 통합 플랫폼' : title1}"></h2>
                    <ul class="aos-init aos-animate">
                        <li th:text="${#strings.isEmpty(title2) ? '액티브 메타데이터 기반 능동형 데이터 확장 기술 개발' : title2}"></li>
                    </ul>
                </div>
            </div>
            <!-- 좌측 이미지 -->
            <div class="breadcrumb-img-1 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${leftImg}|" onerror="this.src='/assets/images/page/left_slide.png'" alt="" data-aos="fade-right" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: left bottom;">
            </div>
            <!-- 우측 이미지 -->
            <div class="breadcrumb-img-2 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${rightImg}|" onerror="this.src='/assets/images/page/right_slide.png'" alt="" data-aos="fade-left" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: right bottom;">
            </div>
        </div>
        <div class="container custom-container" style="margin-top: 50px;" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <ul class="justify-content-start" style="margin-bottom: 8px;">
                            <th:block th:with="titles=${#strings.setSplit(title2, '>')}">
                                <th:block th:each="item, iterStat : ${titles}">
                                    <li th:if="${iterStat.last}">
                                        <a href="#" th:text="${item}"></a>
                                    </li>
                                    <li th:if="${!iterStat.last}" th:text="${item}"></li>
                                    <li th:if="${!iterStat.last}">
                                        <i class="ti-angle-right"></i>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                        <h2 th:text="${title1}"></h2>
                    </div>
                </div>
                <div class="col-lg-6 justify-content-end" style="flex-direction: row; display: flex;">
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- E: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 바디에 상단 헤더바 있음 } + { 기존 바디 컨테이너보다 살짝 width 값이 큼 } -->



<!-- S: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 기존 바디 컨테이너보다 살짝 width 값이 큼 } + { 이전 돌아가기 버튼 포함 } -->
<th:block th:fragment="center-image-title-back(title1='', title2='', leftImg='', rightImg='', useCustom = true)">
    <link rel="stylesheet" th:href="@{'/assets/css/page/center/breadcrumb.css'}" />
    <div>
        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container" data-aos="fade-up" data-aos-delay="200" style="z-index: 1; position: relative; text-shadow: 1px 1px 1px #eaeaea;">
                <div class="breadcrumb-content text-center aos-init aos-animate">
                    <h2 class="aos-init aos-animate" style="margin-top: 15px;" th:text="${#strings.isEmpty(title1) ? '써드파티 데이터 활용 통합 플랫폼' : title1}"></h2>
                    <ul class="aos-init aos-animate">
                        <li th:text="${#strings.isEmpty(title2) ? '액티브 메타데이터 기반 능동형 데이터 확장 기술 개발' : title2}"></li>
                    </ul>
                </div>
            </div>
            <!-- 좌측 이미지 -->
            <div class="breadcrumb-img-1 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${leftImg}|" onerror="this.src='/assets/images/page/left_slide.png'" alt="" data-aos="fade-right" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: left bottom;">
            </div>
            <!-- 우측 이미지 -->
            <div class="breadcrumb-img-2 aos-init aos-animate">
                <img th:src="|/cetus/files/download?fileId=${rightImg}|" onerror="this.src='/assets/images/page/right_slide.png'" alt="" data-aos="fade-left" data-aos-delay="200" style="aspect-ratio: 300 / 250; object-fit: contain; object-position: right bottom;">
            </div>
        </div>
        <div class="container custom-container" style="margin-top: 50px;" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="top-info">
                            <button class="circle-btn" onclick="history.back()">
                                ←
                            </button>
                            <h4 class="title-text" th:text="${title1}"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 justify-content-end" style="flex-direction: row; display: flex;"></div>
            </div>
        </div>
    </div>
</th:block>
<!-- E: { 중앙 센터 } + { 양쪽 사이드 이미지 } + { 기존 바디 컨테이너보다 살짝 width 값이 큼 } + { 이전 돌아가기 버튼 포함 } -->

</html>