<!-- footer -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer(show)">
    <style>
        .footer-about .footer-logo a img {
            max-width: 160px;
        }
        .footer-widget h3.footer-title {
            font-weight: 800;
        }
        .footer-about p,
        .footer-list ul li a{
            font-weight: 500;
            color: #414141;
        }
    </style>
    <footer class="footer-area">

        <!-- S: footer detail -->
        <div class="bg-gray-2" th:attr="style=${show == 'Y'} ? 'display: block;' : 'display: none;'">
            <div class="container">
                <div class="footer-top pt-80 pb-35">
                    <div class="row" style="justify-content: space-between;">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 section00">
                            <div class="footer-widget footer-about mb-40">
                                <div class="footer-logo">
                                    <a href="/asp/home">
                                        <th:block th:if="${user == null}">
                                            <img src="/assets/images/logo/logo.png" alt="logo">
                                        </th:block>
                                        <th:block th:unless="${user == null}">
                                            <img th:src="|/cetus/files/download?fileId=${user.brandingInfo.footerLogo}|" onerror="this.src='/assets/images/logo/logo.png'" alt="logo">
                                        </th:block>
                                    </a>
                                </div>

                                <th:block th:if="${user == null}">
                                    <div style="font-size: 13px; letter-spacing: -0.5px; margin-bottom: 4px;">엑티브 메타데이터 기반 능동형 데이터 확장 기술 개발</div>
                                    <div style="font-size: 30px; line-height: normal; font-weight: 600; margin-bottom: 4px;">
                                        써드파티 데이터 활용 통합 플랫폼
                                    </div>
                                    <div style="font-size:13px;">SW 컴퓨팅 산업원천기술 개발사업</div>
                                </th:block>
                                <th:block th:unless="${user == null}">
                                    <div style="font-size: 13px; letter-spacing: -0.5px; margin-bottom: 4px;" th:text="${user.brandingInfo.title1}"></div>
                                    <div style="font-size: 30px; line-height: normal; font-weight: 600; margin-bottom: 4px;" th:text="${user.brandingInfo.title2}" ></div>
                                    <div style="font-size:13px;" th:text="${user.brandingInfo.title3}"></div>
                                </th:block>

                                <p id="systemNm"></p>

                                <div class="partner-wrap">
                                    <div class="payment-img">
                                        <a href="#">
                                            <th:block th:if="${user == null}">
                                                <img src="/assets/images/icon-img/company.png" alt="logo">
                                            </th:block>
                                            <th:block th:unless="${user == null}">
                                                <img th:src="|/cetus/files/download?fileId=${user.brandingInfo.companyLogo}|" onerror="this.src='/assets/images/icon-img/company.png'" alt="logo">
                                            </th:block>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- E: footer detail -->

        <!-- S: footer -->
        <div class="bg-gray-3">
            <div class="container">
                <div class="footer-bottom copyright text-center bg-gray-3">
                    <p>Copyright ©2025 KWARE All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- E: footer -->
    </footer>
    <script th:src="@{'/assets/js/vendor/jquery-3.6.0.min.js'}"></script>
    <script th:inline="javascript">

        const footerMenu = [[${user}]] ? [[${user?.menusFooter}]] : []

        var footerDataObj = {

            createFooter: async function (targetEle) {

                try {
                    let footerDataObj = []
                    const self = this; // `this` 참조 유지
                    footerDataObj = footerMenu
                    const footerDataEle = self.createFooterElement(footerDataObj); // `self`로 메서드 호출
                    targetEle.append(footerDataEle);
                }
                catch (error) {

                    console.error("Error fetching menu data:", error);
                }
            },

            createFooterElement: function (_footerDataObj) {
                // 전체 초기화
                /*$(".footer-top .row .section").remove();*/
                $(".footer-top .row .section00").nextAll("div").remove();
                let sectionListData = _footerDataObj;
                let nodeList = []; // 노드 배열로 준비
                for (let i = 0; i < sectionListData.length; i++) {
                    let nodeEle = this.setEtcAreaEle(sectionListData[i]);
                    if (nodeEle) {
                        nodeList.push(nodeEle); // 순서대로 push
                    }
                }
                // 한번에 삽입
                $(".footer-top .row .section00").after(nodeList);
            },

            setEtcAreaEle : function(dataObj){

                let sectionEle = $("<div/>", {
                    class : "col-lg-" + dataObj.menuStyle1 + " col-md-6 col-sm-6 col-12 section"
                });
                let footerWidgetWrapEle = $("<div/>", {class : "footer-widget footer-list mb-40"});

                if(dataObj.menuStyle2){

                    footerWidgetWrapEle.addClass("footer-widget-margin-" + dataObj.menuStyle2);
                }

                let footerTitleEle = $("<h3/>", {class : "footer-title"}).html(dataObj.menuNm);
                let ulEle = $("<ul/>");
                const listData = dataObj.children;

                for(let i=0; i<listData.length; i++){
                    let liEle = $("<li/>");
                    let aEle = $("<a/>", {href : listData[i].url, class: "menu-a-link"}).html(listData[i].menuNm);
                    liEle.append(aEle);
                    ulEle.append(liEle);
                }

                footerWidgetWrapEle.append(footerTitleEle);
                footerWidgetWrapEle.append(ulEle);
                sectionEle.append(footerWidgetWrapEle);

                return sectionEle;
            },
        };

        $(function() {

            let footerWrap = $(".footer-area");
            footerDataObj.createFooter(footerWrap);

        });
    </script>
</th:block>
</html>