<!DOCTYPE html>
<html>
<th:block id="formFields" th:with="rowSize=${rowSize}, colClass=${'col-lg-' + (12 / rowSize)}">
    <th:block th:each="i : ${#numbers.sequence(0, fields.size() - 1, rowSize)}">
        <div class="row custom-row">
            <th:block th:each="j : ${#numbers.sequence(i, i + rowSize - 1)}"
                      th:if="${j < fields.size()}">
                <th:block th:with="field=${fields[j]}">
                    <div th:replace="fragments/form-field :: render(${field}, ${colClass}, ${metadata})"></div>
                </th:block>
            </th:block>
        </div>
    </th:block>
</th:block>
</html>
