<th:block th:fragment="script">

    <!-- All JS is here -->
    <script th:src="@{'/assets/js/vendor/modernizr-3.11.7.min.js'}"></script>
    <script th:src="@{'/assets/js/vendor/jquery-3.6.0.min.js'}"></script>
    <script th:src="@{'/assets/js/vendor/jquery-migrate-3.3.2.min.js'}"></script>
    <script th:src="@{'/assets/js/vendor/popper.min.js'}"></script>
    <script th:src="@{'/assets/js/vendor/bootstrap.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/wow.js'}"></script>
    <script th:src="@{'/assets/js/plugins/scrollup.js'}"></script>
    <script th:src="@{'/assets/js/plugins/aos.js'}"></script>
    <script th:src="@{'/assets/js/plugins/magnific-popup.js'}"></script>
    <script th:src="@{'/assets/js/plugins/jquery.syotimer.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/swiper.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/imagesloaded.pkgd.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/isotope.pkgd.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/jquery-ui.js'}"></script>
    <script th:src="@{'/assets/js/plugins/jquery-ui-touch-punch.js'}"></script>
    <script th:src="@{'/assets/js/plugins/jquery.nice-select.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/waypoints.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/jquery.counterup.js'}"></script>
    <!--<script th:src="@{'/assets/js/plugins/select2.min.js'}"></script>-->
    <script th:src="@{'/assets/js/plugins/easyzoom.js'}"></script>
    <script th:src="@{'/assets/js/plugins/slinky.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/ajax-mail.js'}"></script>
    <script th:src="@{'/assets/js/plugins/datatables/jquery.dataTables.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/datatables/dataTables.bootstrap5.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/datatables/dataTables.responsive.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/datatables/datatables.checkboxes.min.js'}"></script>

    <!-- new select2 -->
    <script th:src="@{'/assets/js/plugins/select2/select2.full.min.js'}"></script>
    <script th:src="@{'/assets/js/plugins/select2/form-select2.js'}"></script>

    <!-- tree -->
    <script th:src="@{'/assets/js/plugins/jstree/jstree.min.js'}"></script>

    <!-- Main JS -->
    <script th:src="@{'/assets/js/main.js'}"></script>
    <script th:src="@{'/assets/js/page/sidebar-download.js'}"></script> <!-- [main.js] 영역에서 다운로드 항목을 클릭 시에 그려야함 -->

    <!-- Core js -->
    <script th:src="@{'/assets/js/core/MyUploadAdapter.js'}"></script>
    <script th:src="@{'/assets/js/core/sweetalert2.all.min.js'}"></script>
    <script th:src="@{'/assets/js/core/perfect-scrollbar.min.js'}"></script>
    <script th:src="@{'/assets/js/core/uppy.min.js'}"></script>
    <script th:src="@{'/assets/js/core/uppy.locale.js'}"></script>
    <script th:src="@{'/assets/js/core/compressor.js'}"></script>

    <!-- Comm js -->
    <script th:src="@{'/assets/js/comm/util.js'}"></script>
    <script th:src="@{'/assets/js/comm/table.js'}"></script>
    <script th:src="@{'/assets/js/comm/file.js'}"></script>
    <script th:src="@{'/assets/js/comm/file-thumbnail.js'}"></script>
    <script th:src="@{'/assets/js/comm/file-util.js'}"></script>
    <script th:src="@{'/assets/js/comm/editor-common.js'}"></script>
    <script th:src="@{'/assets/js/comm/tree.js'}"></script>
    <script th:src="@{'/assets/js/comm/formbuilder.js'}"></script>

    <!-- ckeditor -->
    <script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/",
            "ckeditor-config" : "/assets/ckeditor/ckeditor5-config.js",
            "ckeditor-config2" : "/assets/ckeditor/ckeditor5_1-config.js"
        }
    }
    </script>
</th:block>