<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar-cart">
  <div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
      <a class="cart-close" href="#"><i class="pe-7s-close"></i></a>
      <div class="cart-content">
        <h3>북마크 항목</h3>
        <ul id="data-list-ul"></ul>
        <div class="cart-total">
          <h4>Total: <span id="total-data">0개</span></h4>
        </div>
        <!-- <div class="cart-btn btn-hover">
          <a class="theme-color" href="#" id="see-all">데이터 담기 전체보기</a>
        </div>
        <div class="checkout-btn btn-hover">
          <a class="theme-color" href="#" id="download-content">다운받기</a>
        </div> -->
      </div>
    </div>
  </div>
  <script th:src="@{'/assets/js/page/sidebar.js'}"></script>
  <script th:inline="javascript">

    $(function(e) {
      sidebar.getSidebarLst();

      $("#see-all").on("click", function(e) {
        sidebar.seeAll();
      });

      $("#download-content").on("click", function(e) {
        sidebar.downloadContent();
      });
    })

  </script>
</th:block>
</html>