<th:block th:fragment="render(menus)">
    <ul>
        <th:block th:each="menu, stat : ${menus}">
            <li>
                <!-- 자식이 있는 경우 -->
                <th:block th:if="${menu.children != null and #lists.size(menu.children) > 0}">
                    <a href="#" class="next">
                        <span th:text="${menu.menuNm}">메뉴명</span>
                    </a>
                    <!-- 자식 메뉴 재귀 호출 -->
                    <th:block th:replace="fragments/sidebar-menu-fragment :: render(menus=${menu.children})"/>
                </th:block>
                <!-- 자식이 없는 경우 -->
                <th:block th:if="${menu.children == null or #lists.isEmpty(menu.children)}">
                    <a th:href="${menu.url}" class="menu-a-url">
                        <span th:text="${menu.menuNm}" th:data-active="${menu.url == parentMenuUrl}">메뉴명</span>
                    </a>
                </th:block>
            </li>
        </th:block>
    </ul>
</th:block>
