<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar-menu(show)">
  <!-- Mobile Menu start -->
  <div class="off-canvas-active" th:data-show="${show}">
    <a class="off-canvas-close"><i class=" ti-close "></i></a>
    <div class="off-canvas-wrap">
      <div class="welcome-text off-canvas-margin-padding">
        <p>Menu</p>
      </div>
      <div class="mobile-menu-wrap off-canvas-margin-padding-2">
        <div id="mobile-menu" class="slinky-mobile-menu text-left">
          <ul th:if="${user != null}">
            <th:block th:replace="fragments/sidebar-menu-fragment :: render(menus=${user.menusTop})" />
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu end -->
</th:block>
</html>