<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: center-image-title-back(${title1}, ${title2}, ${leftImg}, ${rightImg}, true)"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}" />
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-form.css'}" />
</th:block>

<th:block layout:fragment="content">
    <div class="my-account-wrapper pt-80">
        <div class="container custom-container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper pb-100">

                        <div class="row">

                            <!-- 왼쪽 사이드 메뉴바 // -->
                            <div class="col-lg-4 col-md-4">
                                <div class="sidebar-container" data-aos="fade-up" data-aos-delay="200">
                                    <!-- 프로필 이미지 영역 -->
                                    <div class="profile-section">
                                        <div class="profile-img-wrapper">
                                            <div id="upload-container" style="display: none;"></div>
                                            <img th:src="|/cetus/files/download?fileId=${form?.profileId}|" onerror="this.src='/assets/images/page/detail/profile_noimage.png'" alt="Profile" id="profile-thumbnail-id" class="profile-img" />
                                            <button class="camera-icon-btn dropdown-toggle" id="cameraBtn">
                                                <i class="ti-camera camera-icon"></i>
                                            </button>

                                            <!-- 드롭다운 메뉴 -->
                                            <div class="dropdown-menu camera-dropdown-menu" id="cameraDropdown" style="display: none;">
                                                <button id="default-profile">기본 이미지로</button>
                                                <button id="new-profile-image">새 이미지 등록</button>
                                            </div>
                                        </div>
                                        <div class="profile-info">
                                            <strong th:text="${form?.userNm}"></strong>
                                            <div th:text="${form?.groupNm}"></div>
                                        </div>
                                    </div>

                                    <!-- 메뉴 버튼 영역 -->
                                    <div class="menu-buttons">
                                        <button class="menu-btn custom-button active" data-target="#user-info">사용자 정보</button>
                                        <button class="menu-btn custom-button" data-target="#user-password">패스워드</button>
                                        <button class="menu-btn custom-button" data-target="#user-board">게시물</button>
                                        <button class="menu-btn custom-button" data-target="#user-hist">활동기록</button>
                                    </div>
                                </div>
                            </div>
                            <!-- // 왼쪽 사이드 메뉴바 -->

                            <!-- 오른쪽 컨텐츠 영역 // -->
                            <div class="col-lg-8 col-md-8">
                                <div class="tab-content" id="myaccountContent" data-aos="fade-up" data-aos-delay="200">

                                    <!-- [1] 사용자 정보 탭 -->
                                    <div class="tab-pane tab-pane-form fade show active" id="user-info" role="tabpanel">
                                        <div th:replace="manager/user/user-form-info::userFormInfoTab"></div>
                                    </div>

                                    <!-- [2] 패스워드 탭 -->
                                    <div class="tab-pane tab-pane-form fade" id="user-password" role="tabpanel">
                                        <div th:replace="manager/user/user-form-password::userFormPasswordTab"></div>
                                    </div>

                                    <!-- [3] 게시물 탭 -->
                                    <div class="tab-pane tab-pane-form fade" id="user-board" role="tabpanel">
                                        <div th:replace="manager/user/user-form-board::userFormBoardTab"></div>
                                    </div>

                                    <!-- [4] 활동기록 탭 -->
                                    <div class="tab-pane tab-pane-form fade" id="user-hist" role="tabpanel">
                                        <div th:replace="manager/user/user-form-hist::userFormHistTab"></div>
                                    </div>

                                </div>
                            </div>
                            <!-- // 오른쪽 컨텐츠 영역 -->

                        </div>
                    </div>
                    <!-- My Account Page End -->

                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="popup/popup :: popup-modal"></th:block>
    <th:block th:replace="manager/user/modal/user-change-dept-modal"></th:block>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/manager/user/user-form-profile.js'}"></script>
    <th:block th:replace="popup/popup-script::script"></th:block>
    <th:block th:replace="manager/user/user-form-info-script::script"></th:block>
    <th:block th:replace="manager/user/user-form-password-script::script"></th:block>
    <th:block th:replace="manager/user/user-form-board-script::script"></th:block>
    <th:block th:replace="manager/user/user-form-hist-script::script"></th:block>
    <script th:inline="javascript">

        const profileUid = [[${form.profileUid}]];
        const uid = [[${uid}]]
        const userUid = [[${uid}]]

        const fields = [[${fields}]]
        const metadata = [[${metadata}]]

        const builder = new Formbuilder(fields, metadata);

        /** 모달 닫을때 생기는 warning 해결 **/
        $(document).on('hide.bs.modal', function () {
            if (document.activeElement) {
                $(document.activeElement).blur();
            }
        });

        $(document).ready(function () {

            userFormProfile.initUploader(profileUid);

            const savedTab = sessionStorage.getItem("form-tab");
            if (savedTab) {
                $('.tab-pane-form').removeClass('show active');
                $(savedTab).addClass('show active');
                $('.menu-btn').removeClass('active');
                $('.menu-btn[data-target="' + savedTab + '"]').addClass('active');
            } else {
                $('.menu-btn').first().addClass('active');
                $('.tab-pane-form').first().addClass('show active');
            }

            $('.menu-btn').on('click', function () {
                $('.menu-btn').removeClass('active');
                $(this).addClass('active');
                $('.tab-pane-form').removeClass('show active');
                const target = $(this).data('target');
                $(target).addClass('show active');
                sessionStorage.setItem("form-tab", target);
            });

            $("#default-profile").on('click', function () {
               userFormProfile.defaultProfile();
            });

            $("#new-profile-image").on('click', function() {
               userFormProfile.newImageUpload();
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const cameraBtn = document.getElementById("cameraBtn");
            const dropdown = document.getElementById("cameraDropdown");
            cameraBtn.addEventListener("click", function (e) {
                e.stopPropagation();
                dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
            });
            document.addEventListener("click", function () {
                dropdown.style.display = "none";
            });
        });

    </script>
</th:block>
</html>