<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: center-image-title-custom(${title}, ${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/manager/user-list.css'}" />
</th:block>

<th:block layout:fragment="content">
    <div class="my-account-wrapper pb-100 pt-80"  data-aos="fade-up" data-aos-delay="200">
        <div class="container custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="myaccount-page-wrapper pb-100">

                        <div class="row">
                            <div class="col-lg-3 col-md-3">

                                <div class="sidebar-container">
                                    <div class="filter-title-area">
                                        <h3>Filter</h3>
                                        <div class="page-more-update-wrapper btn-control-wrapper">
                                            <button type="button" class="custom-button" id="filter-remove">모두 초기화</button>
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header">사용자</div>
                                        <div class="filter-body">
                                            <input type="text" class="form-control custom-input mb-2" placeholder="이름" id="userNm-input" name="userNm" />
                                            <input type="text" class="form-control custom-input" placeholder="ID" id="userId-input" name="userId" />
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header" data-id="userGroup" data-name="소속">소속</div>
                                        <div class="filter-body">
                                            <div class="mt-2">
                                                <select class="select2 form-select round border_line" id="userGroup" name="userGroup" multiple>
                                                    <option th:each="group : ${userGroup}" th:value="${group?.uid}" th:text="${group?.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header" data-id="userPosition" data-name="직급">직급</div>
                                        <div class="filter-body">
                                            <div class="mt-2">
                                                <select class="select2 form-select round border_line" id="userPosition" name="userPosition" multiple>
                                                    <option th:each="position : ${userPosition}" th:value="${position?.uid}" th:text="${position?.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header">그룹/부서</div>
                                        <div class="filter-body">
                                            <div class="mt-2" id="depth-tree"></div>
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header" data-id="userStatus" data-name="상태">상태</div>
                                        <div class="filter-body">
                                            <div class="mt-2">
                                                <select class="select2 form-select round border_line" id="userStatus" name="userStatus" multiple>
                                                    <option th:each="status : ${userStatus}" th:value="${status?.code}" th:text="${status?.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header">가입일</div>
                                        <div class="filter-body">
                                            <label class="form-label custom-label" for="startDate">시작일</label>
                                            <input type="date" class="form-control custom-input mb-4" id="startDate" name="startDate"/>
                                            <label class="form-label custom-label" for="endDate">종료일</label>
                                            <input type="date" class="form-control custom-input" id="endDate" name="endDate"/>
                                        </div>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-header" data-id="userAuthorCd" data-name="권한">권한</div>
                                        <div class="filter-body">
                                            <div class="mt-2">
                                                <select class="select2 form-select round border_line" id="userAuthorCd" name="userAuthorCd" multiple>
                                                    <option th:each="author : ${userAuthorCd}" th:value="${author?.code}" th:text="${author?.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-9 col-md-9">
                                <div class="topbar-container">
                                    <div class="topbar-left">
                                        <span id="total-num"></span>
                                        <div class="btn-wrapper">
                                            <button type="button" class="custom-button" id="dept-change">그룹/부서 변경</button>
                                            <button type="button" class="custom-button" id="status-change">상태 변경</button>
                                            <button type="button" class="custom-button" id="authorCd-change">권한 변경</button>
                                        </div>
                                    </div>
                                    <div class="topbar-right">
                                        <div class="btn-wrapper">
                                            <button type="button" class="custom-button" id="download-list">리스트 다운로드</button>
                                            <button type="button" class="custom-button" id="invite-user">초대하기</button>
                                            <button type="button" class="custom-button" id="add-user">계정 추가</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-bordered" id="user-table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>사용자</th>
                                                    <th>소속</th>
                                                    <th>직급</th>
                                                    <th>그룹/부서</th>
                                                    <th>상태</th>
                                                    <th>가입일</th>
                                                    <th>권한</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="manager/user/modal/user-dept-modal"></th:block>
    <th:block th:replace="manager/user/modal/user-status-modal"></th:block>
    <th:block th:replace="manager/user/modal/user-author-modal"></th:block>
    <th:block th:replace="manager/user/modal/user-invite-modal"></th:block>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/manager/user/user-list.js'}"></script>
    <script th:inline="javascript">

        /** 모달 닫을때 생기는 warning 해결 **/
        $(document).on('hide.bs.modal', function () {
            if (document.activeElement) {
                $(document.activeElement).blur();
            }
        });

        const userStatus = [[${userStatus}]]
        const userAuthorCd = [[${userAuthorCd}]]

        $(function () {

            sessionStorage.removeItem("form-tab");
            sessionStorage.removeItem("bbsctt-tab")
            sessionStorage.removeItem("bbsctt-tab-header")
            userList.initTree();
            userList.initTable();

            $('.filter-header').on('click', function () {
                const $this = $(this);
                const id = $this.data('id');
                const name = $this.data('name');
                $this.toggleClass('open');
                $this.next('.filter-body').slideToggle(150);
                $(`#${id}`).select2({
                    placeholder: `${name} 선택`,
                    language: {
                        noResults: function() {
                            return "검색 결과가 없습니다.";
                        }
                    }
                });
            });

            /* == 필터 > 사용자 (ID, 이름) == */
            $('#userId-input, #userNm-input').on('keyup', function (e) {
                if (e.key === 'Enter') {
                    userList.submitTable();
                }
            });

            /* == 필터 > 소속, 직급, 상태, 권한 == */
            $('#userGroup, #userPosition, #userStatus, #userAuthorCd').on('change', function() {
                userList.submitTable()
            });

            /* == 필터 > 가입일 == */
            $('#startDate, #endDate').on('change', function() {
                userList.submitTable()
            });

            /* == 모두 초기화 == */
            $("#filter-remove").on('click', function() {
                userList.formReset();
            });

            /* == 그룹/부서 변경 == */
            $("#dept-change").on('click', function() {
                userList.userDeptChange();
            });

            /* == 상태 변경 == */
            $("#status-change").on('click', function() {
                userList.userStatusChange();
            });

            /* == 권한 변경 == */
            $("#authorCd-change").on('click', function() {
                userList.userAuthorChange();
            });

            /* == 다운로드 == */
            $("#download-list").on('click', function() {
                userList.userListDownload();
            });

            /* == 초대 == */
            $("#invite-user").on('click', function() {
                userList.inviteUser();
            });

            /* == 사용자 추가 == */
            $("#add-user").on('click', function() {
                window.location.href = '/manager/cetus/user/save'
            });

            /* == 그룹/부서 변경 팝업 닫기 == */
            $('#dept-cancel-btn').on('click', function () {
                Util.confirm('정말 닫으시겠습니까? <br> 변경사항이 저장되지 않을 수 있습니다.').then((isOk) => {
                    if(isOk) {
                        userList.resetDeptModal();
                    }
                });
            });
            $("#dept-select-btn").on("click", function () {
                userList.changeUserDept()
            });


            /* == 상태 변경 팝업 닫기 == */
            $('#status-cancel-btn').on('click', function () {
                Util.confirm('정말 닫으시겠습니까? <br> 변경사항이 저장되지 않을 수 있습니다.').then((isOk) => {
                    if(isOk) {
                        userList.resetStatusModal();
                    }
                });
            });
            $("#status-select-btn").on("click", function () {
                userList.changeUserStatus();
                userList.resetStatusModal();
            });

            /* == 권한 변경 팝업 닫기 == */
            $('#author-cancel-btn').on('click', function () {
                Util.confirm('정말 닫으시겠습니까? <br> 변경사항이 저장되지 않을 수 있습니다.').then((isOk) => {
                    if(isOk) {
                        userList.resetAuthorModal();
                    }
                });
            });
            $("#author-select-btn").on("click", function () {
                userList.changeUserAuthor();
            });


            // userStatus-change 라디오 버튼 클릭 이벤트 위임
            $(document).on('click', '#userStatus-form input[name="userStatus-change"]', function () {
                const selectedVal = $(this).val();
                $("#status-select-btn").attr('disabled', false);
            });

            // userAuthor-change 라디오 버튼 클릭 이벤트 위임
            $(document).on('click', '#userAuthor-form input[name="userAuthor-change"]', function () {
                const selectedVal = $(this).val();
                $("#author-select-btn").attr('disabled', false);
            });

            /* == 초대하기 발송 이벤트 == */
            $("#invite-select-btn").on("click", function () {
                userList.inviteSend();
            });

        });
    </script>
</th:block>
</html>