<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="userFormBoardTab">
  <div class="row custom-row aos-init aos-animate" style="margin-bottom: 25px;" data-aos="fade-up" data-aos-delay="200">
    <!-- 탭 컨텐츠 영역 -->
    <div class="myaccount-content">

      <h3 class="tab-header-custom tab-header-custom-board">
        <a class="active" data-target="#bbsctt-hist" aria-selected="true" role="tab">게시물</a>
        <a data-target="#answer-hist" aria-selected="false" role="tab">댓글</a>
      </h3>

      <div class="tab-content" id="boardHistTab">

        <div class="tab-pane tab-pane-custom fade show active" id="bbsctt-hist" role="tabpanel">

          <div class="container">
            <h3 class="tab-content-header-custom bbsctt-header">
              <!-- 게시판 있을 경우 -->
              <th:block th:if="${#lists.size(bbsList) > 0}">
                <th:block th:each="item, iterStat : ${bbsList}">
                  <a
                    th:classappend="${iterStat.index == 0} ? 'active' : ''"
                    th:attr="data-target='#bbsctt-menu' + ${item.bbsUid}, aria-selected=${iterStat.index == 0}"
                    role="tab"
                    th:data-uid="${item.bbsUid}"
                    th:text="${item.bbsNm}"></a>
                </th:block>
              </th:block>
              <!-- 게시판 없을 경우 -->
              <th:block th:if="${#lists.size(bbsList) == 0}">
                <span class="text-muted">현재 워크플레이스에 해당하는 게시판이 없습니다.</span>
              </th:block>
            </h3>
          </div>

          <th:block th:unless="${#lists.size(bbsList) == 0}">
            <div class="container">
              <input type="hidden" id="bbsctt-hist-tab" th:value="${bbsList.get(0).bbsUid}" />
              <div class="topbar-container" style="border-bottom: none; padding: 0px;">
                <div class="topbar-left">
                  <span id="bbsctt-hist-total-num"></span>
                </div>
                <div class="topbar-right">
                  <div class="btn-wrapper">
                    <div class="dropdown-container">
                      <button type="button" class="custom-button dropdown-toggle" id="bbsctt-hist-status-change">상태변경</button>
                      <div class="bbsctt-hist-dropdown-menu" id="bbscttHistDropdown">
                        <button class="custom-button" style="width: 100% !important;" id="openAt-to-N">비공개</button>
                        <button class="custom-button" style="width: 100% !important; margin-bottom: 5px;" id="openAt-to-Y">공개</button>
                        <button class="custom-button" style="width: 100% !important;" id="delete-bbsctt">삭제</button>
                      </div>
                    </div>
                    <button type="button" class="custom-button" id="bbsctt-hist-list-download">리스트 다운로드</button>

                  </div>
                </div>
              </div>
              <div class="">
                <div class="table-responsive text-nowrap">
                  <table class="table table-bordered" id="bbsctt-hist-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>No</th>
                        <th>게시글 제목</th>
                        <th>공개 여부</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </th:block>

        </div>

        <div class="tab-pane tab-pane-custom fade" id="answer-hist" role="tabpanel">

          <div class="container">
            <h3 class="tab-content-header-custom answer-header">
              <!-- 게시판 있을 경우 -->
              <th:block th:if="${#lists.size(bbsList) > 0}">
                <th:block th:each="item, iterStat : ${bbsList}">
                  <a
                    th:classappend="${iterStat.index == 0} ? 'active' : ''"
                    th:attr="data-target='#answer-menu' + ${item.bbsUid}, aria-selected=${iterStat.index == 0}"
                    role="tab"
                    th:data-uid="${item.bbsUid}"
                    th:text="${item.bbsNm}"></a>
                </th:block>
              </th:block>
              <!-- 게시판 없을 경우 -->
              <th:block th:if="${#lists.size(bbsList) == 0}">
                <span class="text-muted">현재 워크플레이스에 해당하는 게시판이 없습니다.</span>
              </th:block>
            </h3>
          </div>

          <th:block th:unless="${#lists.size(bbsList) == 0}">
            <div class="container">
              <input type="hidden" id="answer-hist-tab" th:value="${bbsList.get(0).bbsUid}" />
              <div class="topbar-container" style="border-bottom: none; padding: 0px;">
                <div class="topbar-left">
                  <span id="answer-hist-total-num"></span>
                </div>
                <div class="topbar-right">
                  <div class="btn-wrapper">
                    <button type="button" class="custom-button" id="answer-hist-delete-row">삭제</button>
                    <button type="button" class="custom-button" id="answer-hist-list-download">리스트 다운로드</button>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="table-responsive text-nowrap">
                  <table class="table table-bordered" id="answer-hist-table">
                    <thead>
                    <tr>
                      <th></th>
                      <th>No</th>
                      <th>게시글 제목</th>
                      <th>댓글 내용</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </th:block>

        </div>

      </div>

    </div>
  </div>

</th:block>
</html>