<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="userFormPasswordTab">
  <div class="row custom-row aos-init aos-animate" style="margin-bottom: 25px;" data-aos="fade-up" data-aos-delay="200">
    <!-- 탭 컨텐츠 영역 -->
    <div class="myaccount-content">
      <h3>패스워드</h3>
      <form class="needs-validation" id="user-password-form" novalidate="">
        <div class="outer">
          <div class="inner">
            <label class="form-label custom-label" for="password">새 패스워드</label>
            <input type="password" value="" id="password" name="password" class="form-control custom-input" required>
            <div class="invalid-feedback">영문 + 숫자 + 특수문자 조합 8자 이상</div>
          </div>
          <div class="inner">
            <label class="form-label custom-label" for="password-chk">새 패스워드 확인</label>
            <input type="password" value="" id="password-chk" class="form-control custom-input" required>
            <div class="invalid-feedback">새 패스워드가 일치하지 않습니다.</div>
          </div>
        </div>
        <div class="custom-btn-wrap">
          <button type="button" class="custom-button" id="password-cancel-btn" disabled>취소</button>
          <button type="button" class="custom-button" id="password-save-btn" disabled>변경 적용</button>
        </div>
      </form>
    </div>
  </div>
</th:block>
</html>