<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{'/assets/js/page/manager/user/user-form-board.js'}"></script>
<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        const toggleBtn = document.getElementById("bbsctt-hist-status-change");
        const dropdown = document.getElementById("bbscttHistDropdown");
        toggleBtn.addEventListener("click", function (e) {
            e.stopPropagation(); // 이벤트 버블링 방지
            dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
        });
        document.addEventListener("click", function (e) {
            const isClickInside = toggleBtn.contains(e.target) || dropdown.contains(e.target);
            if (!isClickInside) {
                dropdown.style.display = "none";
            }
        });
    });

    $(document).ready(function () {

        userFormBoard.initTable();

        userFormBoard.initTab().then(() => {
            const tab = sessionStorage.getItem("bbsctt-tab")
            if(tab === "#bbsctt-hist") userFormBoard.submitBbscttTable();
            else if(tab === "#answer-hist") userFormBoard.submitAnswerTable()
        });

        /* [ 게시물 / 댓글 ] 헤더 탭 */
        $('.tab-header-custom-board a').on('click', function () {
            $('.tab-header-custom-board a').removeClass('active');
            $(this).addClass('active');
            $('.tab-pane-custom').removeClass('show active');
            const target = $(this).data('target');
            $(target).addClass('show active');
            sessionStorage.setItem("bbsctt-tab", target);
            sessionStorage.removeItem("bbsctt-tab-header");
            userFormBoard.setSubTab().then(() => {
                if(target === "#answer-hist") userFormBoard.submitAnswerTable();
                else if(target === "#bbsctt-hist") userFormBoard.submitBbscttTable();
            })
        });

        /* [ 게시물 > 메뉴 ] 헤더 탭 */
        $('.bbsctt-header a').on('click', function () {
            $('.bbsctt-header a').removeClass('active');
            $(this).addClass('active');
            const uid = $(this).data('uid');
            $('#bbsctt-hist-tab').val(uid);
            const target = $(this).data('target');
            userFormBoard.submitBbscttTable();
            sessionStorage.setItem("bbsctt-tab-header", target);
        });

        /* [ 댓글 > 메뉴 ] 헤더 탭 */
        $('.answer-header a').on('click', function () {
            $('.answer-header a').removeClass('active');
            $(this).addClass('active');
            const uid = $(this).data('uid');
            $('#answer-hist-tab').val(uid);
            const target = $(this).data('target');
            userFormBoard.submitAnswerTable();
            sessionStorage.setItem("bbsctt-tab-header", target);
        });

        $("#openAt-to-N").on("click", function () {
            userFormBoard.bbscttOpenAtChange('N')
        });

        $("#openAt-to-Y").on("click", function () {
            userFormBoard.bbscttOpenAtChange('Y')
        });

        $("#delete-bbsctt").on("click", function () {
            userFormBoard.deleteBbsctt();
        });

        $("#bbsctt-hist-list-download").on('click', function () {
           userFormBoard.downloadBbscttList();
        });

        $("#answer-hist-list-download").on('click', function () {
           userFormBoard.downloadAnswerList();
        });

        $("#answer-hist-delete-row").on('click', function () {
            userFormBoard.deleteAnswer();
        });
    });

</script>
</html>
