<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="userFormHistTab">

  <div class="row custom-row aos-init aos-animate" style="margin-bottom: 25px;" data-aos="fade-up" data-aos-delay="200">
    <!-- 탭 컨텐츠 영역 -->
    <div class="myaccount-content">

      <h3 class="tab-header-custom tab-header-custom-hist">
        <a class="active" data-target="#user-hist-tab" aria-selected="true" role="tab">활동 기록</a>
      </h3>

      <div class="tab-content" id="userHistTab">
        <div class="tab-pane tab-pane-hist-custom fade show active" id="user-hist-tab" role="tabpanel">
          <div class="container">
            <h3 class="tab-content-header-custom hist-header">
              <a role="tab" data-uid="1" data-target="#login-hist" aria-selected="true" class="active">접속기록</a>
              <a role="tab" data-uid="2" data-target="#download-hist" aria-selected="false">다운로드</a>
              <a role="tab" data-uid="3" data-target="#status-hist" aria-selected="false">상태 변경</a>
            </h3>
          </div>
        </div>
        <div class="tab-content" id="userHistTabContent">
          <!-- [1] 접속 기록 -->
          <div class="tab-pane tab-hist-form fade show active" id="login-hist" role="tabpanel">
            <div class="topbar-container" style="border-bottom: none; padding: 0px;">
              <div class="topbar-left">
                <span id="login-hist-total-num"></span>
              </div>
              <div class="topbar-right">
                <div class="btn-wrapper">
                  <button type="button" class="custom-button" id="login-hist-list-download">리스트 다운로드</button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" id="login-hist-table">
                <thead class="table-light">
                  <tr>
                    <th>No</th>
                    <th>접속 시간</th>
                    <th>IP주소</th>
                    <th>로그인 위치</th>
                    <th>브라우저</th>
                    <th>접속URL</th>
                    <th>세션ID</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <!-- [2] 다운로드 기록 -->
          <div class="tab-pane tab-hist-form fade" id="download-hist" role="tabpanel">
            <div class="topbar-container" style="border-bottom: none; padding: 0px;">
              <div class="topbar-left">
                <span id="download-hist-total-num"></span>
              </div>
              <div class="topbar-right">
                <div class="btn-wrapper">
                  <button type="button" class="custom-button" id="download-hist-list-download">리스트 다운로드</button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" id="download-hist-table">
                <thead class="table-light">
                <tr>
                  <th>No</th>
                  <th>다운로드<br>시간</th>
                  <th>파일명</th>
                  <th>파일유형</th>
                  <th>파일크기</th>
                  <th>다운로드URL</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>

          <!-- [1] 상태 변경 기록 -->
          <div class="tab-pane tab-hist-form fade" id="status-hist" role="tabpanel">
            <div class="topbar-container" style="border-bottom: none; padding: 0px;">
              <div class="topbar-left">
                <span id="status-hist-total-num"></span>
              </div>
              <div class="topbar-right">
                <div class="btn-wrapper">
                  <button type="button" class="custom-button" id="status-hist-list-download">리스트 다운로드</button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" id="status-hist-table">
                <thead class="table-light">
                <tr>
                  <th>No</th>
                  <th>변경일시</th>
                  <th>변경 후 상태</th>
                  <th>변경 사유</th>
                  <th>변경자ID</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>

</th:block>
</html>