<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{'/assets/js/page/manager/user/user-form-password.js'}"></script>
<script th:inline="javascript">

    $(function () {
      /* 비밀번호 & 비밀번호 체크 validation 체크 */
      userFormPassword.passwordInput.on('input', userFormPassword.validatePassword);
      userFormPassword.passwordChkInput.on('input', userFormPassword.validatePassword);

      $("#password-save-btn").on('click', function () {
        userFormPassword.submitForm();
      });
      $("#password-cancel-btn").on('click', function () {
            Util.confirm('변경사항이 저장되지 않습니다. <br> 취소하시겠습니까?').then((isOk) => {
               if(isOk) {
                   window.location.href = `/manager/cetus/user/${uid}`
               }
            });
      });
  });

</script>
</html>
