<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{'/assets/js/page/manager/user/user-form-info.js'}"></script>
<script th:inline="javascript">
    $(function () {

        /* == 그룹/부서 변경 == */
        $("#userDept-choose").on('click', function() {
            userFormInfo.userDeptChange($("#userDept-uid").val());
        });
        $("#change-dept-select-btn").on('click', function () {
           userFormInfo.chooseDept();
        });
        $("#change-dept-cancel-btn").on('click', function () {
            userFormInfo.cancelChooseDept();
        });

        /* == 변경 적용 == */
        $("#save-btn").on('click', function () {
            userFormInfo.submitForm();
        });
        /* == 변경 취소 == */
        $("#cancel-btn").on('click', function () {
            userFormInfo.cancelForm();
        });

        /* == 유저 상태값 수정 이벤트 == */
        $('#userStatus').on('change', function () {
            const previousStatus = $('#status-before').val();
            const currentStatus = $(this).val();
            if (previousStatus !== currentStatus) {
                $('#changeReason').prop('disabled', false);
            } else {
                $('#changeReason').val('').prop('disabled', true);
            }
        });

        $("#userEmail-change").on('click', function () {
           userFormInfo.userEmailChangeBtnClick();
        });

        $("#userJbgd").select2({
            placeholder: "직책 선택",
            language: {
                noResults: function(term) {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userDepth").select2({
            placeholder: "그룹/부서 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userTeam").select2({
            placeholder: "팀 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userInfo").select2({
            placeholder: "항목명 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
    });
</script>
</html>
