<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="userFormInfoTab">
  <div class="row custom-row" style="margin-bottom: 25px;" data-aos="fade-up" data-aos-delay="200">

    <!-- 탭 컨텐츠 영역 -->
    <div class="myaccount-content">
      <h3>사용자 정보</h3>
      <div class="account-details-form">
          <form class="needs-validation" id="user-info-form" novalidate="">
            <div class="row custom-row">
              <div class="col-lg-6">
                <div class="single-input-item">
                  <label for="userNm" class="custom-label">이름</label>
                  <input class="form-control custom-input" type="text" id="userNm" name="userNm" th:value="${form?.userNm}" placeholder="이름을 입력하세요.">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="single-input-item">
                  <label for="userId" class="custom-label">ID</label>
                  <input class="form-control custom-input" type="text" id="userId" name="userId" readonly="" disabled="" th:value="${form?.userId}">
                </div>
              </div>
            </div>

            <div class="row custom-row">

              <div class="col-lg-6">
                <div style="margin-bottom: 20px;">
                  <label for="userEmail" class="custom-label">이메일<span class="req">*</span></label>
                  <div class="input-group">
                    <input type="hidden" id="userEmail-origin" th:value="${form?.userEmail}" />
                    <input type="email" id="userEmail" name="userEmail" class="form-control custom-input" required="" th:value="${form?.userEmail}" readonly disabled>
                    <button class="custom-button" id="userEmail-change" type="button">이메일 변경</button>
                  </div>
                  <span class="validation-error-message" id="userEmail-error"></span>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="single-input-item">
                  <div for="userGroup" class="required">소속</div>
                  <select class="nice-select nice-select-style-1 custom-select" id="userGroup" name="userGroup">
                    <option value="" disabled selected>-- 유저 소속을 선택해주세요. --</option>
                    <option th:each="group : ${userGroup}"
                            th:value="${group?.uid}"
                            th:selected="${group?.uid == form?.groupUid}"
                            th:text="${group?.name}"></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row custom-row">
              <div class="col-lg-6">
                <div style="margin-bottom: 20px;">
                  <label for="userDept" class="custom-label">그룹/부서</label>
                  <div class="input-group">
                    <input type="text" id="userDept" class="form-control custom-input" required="" th:value="${form?.deptNm}" readonly disabled>
                    <input type="hidden" id="userDept-uid" name="userDept" class="form-control custom-input" th:value="${form?.deptUid}">
                    <button class="custom-button" id="userDept-choose" type="button">선택</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="single-input-item">
                  <div for="userPosition" class="required">직급</div>
                  <select class="nice-select nice-select-style-1 custom-select" id="userPosition" name="userPosition">
                    <option value="" disabled selected>-- 유저 직급을 선택해주세요. --</option>
                    <option th:each="position : ${userPosition}"
                            th:value="${position?.uid}"
                            th:selected="${position?.uid == form?.positionUid}"
                            th:text="${position?.name}"></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row custom-row">
              <div class="col-lg-6">
                <div class="single-input-item">
                  <div for="userAuthor" class="required">권한</div>
                  <select class="nice-select nice-select-style-1 custom-select" id="userAuthor" name="userAuthor">
                    <option value="" disabled selected>-- 유저 권한을 선택해주세요. --</option>
                    <option th:each="author : ${userAuthorCd}"
                            th:value="${author?.code}"
                            th:selected="${author?.code == form?.role}"
                            th:text="${author?.name}"></option>
                  </select>
                </div>
              </div>
            </div>

            <hr style="border: 1px dashed #ccc; margin-top: 30px; margin-bottom: 30px;">

            <div class="row custom-row">

              <div class="col-lg-6">
                <div class="single-input-item">
                  <div for="userStatus" class="required">상태</div>
                  <input type="hidden" id="status-before" th:value="${form?.status}" />
                  <select class="nice-select nice-select-style-1 custom-select" id="userStatus" name="userStatus">
                    <option value="" disabled selected>-- 유저 상태를 선택해주세요. --</option>
                    <option th:each="status : ${userStatus}"
                            th:value="${status?.code}"
                            th:selected="${status?.code == form?.status}"
                            th:text="${status?.name}"></option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
              <div class="single-input-item">
                <div for="userAuthor" class="required">상태 변경 사유</div>
                <textarea class="form-control custom-textarea" id="changeReason" name="changeReason"
                          placeholder="사용자 상태 변경 사유를 입력하세요." disabled=""></textarea>
              </div>
            </div>
              <hr style="border: 1px dashed #ccc; margin-top: 30px; margin-bottom: 30px;">
                <th:block th:with="rowSize=2, colClass=${'col-lg-' + (12 / rowSize)}">
                  <th:block th:each="i : ${#numbers.sequence(0, fields.size() - 1, rowSize)}">
                    <div class="row custom-row">
                      <th:block th:each="j : ${#numbers.sequence(i, i + rowSize - 1)}"
                                th:if="${j < fields.size()}">
                        <th:block th:with="field=${fields[j]}">
                          <div th:replace="fragments/form-field :: render(${field}, ${colClass}, ${metadata})"></div>
                        </th:block>
                      </th:block>
                    </div>
                  </th:block>
                </th:block>
            </div>

            <hr style="border: 1px dashed #ccc; margin-top: 30px; margin-bottom: 30px;">

            <div class="custom-btn-wrap">
              <button type="button" class="custom-button" id="cancel-btn">취소</button>
              <button type="button" class="custom-button" id="save-btn">변경 적용</button>
            </div>

        </form>

      </div>
    </div>

  </div>
</th:block>
</html>