.portal-img {
    width: 100%;
    aspect-ratio: 270 / 300;
    object-fit: cover;
    object-position: center;
}

/* button-custom */
.btn-custom-control{
    display: flex;
    padding: 8px 16px;
    border: 1px solid transparent;
}
.btn-custom-control:hover{
    background: #e97730;
    color: #ffffff;
}
.btn-custom-control a{
    display: flex;
    flex-direction: row;
    color: inherit;
}
.btn-custom-control a i{
    font-weight: 600;
}
.btn-custom-control a i:hover{
    color: #ffffff !important;
}
.btn-custom-control .txt-label{
    display: flex;
    font-weight: 600;
    margin-left: 4px;
    color: inherit;
}

.data-description-area{
    margin: 0px !important;
    border-color: transparent !important;
}
/* Tag 리스트 */
.list-tag-pnl{
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 33px;
    margin: 0px;
}
.list-tag-pnl .tag-content{
    border: 1px solid #e2e2e2;
    padding: 4px 16px;
    margin-right: 8px;
    border-radius: 8px;
    background: #e2e2e2;
}
.list-tag-pnl .tag-content:hover{
    border-color: #e97730;
    background: #e97730;
}
.list-tag-pnl .tag-content a:hover{
    color: #ffffff !important;
}

/* 별점 스타일 */
.ti-star{
    display: inline-block;
    cursor: pointer;
}
.ti-star:before{
    content: "\e60a";
    color: gray;
}
.ti-star.filled:before{
    content: "\e60a";
    color: #e97730;
}

/* 좌측 이미지 */
.easyzoom.easyzoom--overlay img{
    aspect-ratio: 270 / 300;
}

/* 제어버튼 스타일 */
.btn-control-wrapper{
    padding: 0px 0px 10px 10px;
}

/* Sub Tab 스타일 */
.sub-tab-bar{
    background: #fdebec;
}

/* 단건 조회 테이블 */
.specification-wrap table tbody tr td.width1{
    font-size: 15px;
    font-weight: 600;
    background-color: #f3f3f3;
}

/* 관련데이터 스타일 */
.relation-wrap-pnl{
    justify-content: center;
    flex-direction: column;
    align-items: end;
    height: 100%;
}
.swiper-container {
    width: 100%;

}
.swiper-slide {
    width: 270px !important;
}
.swiper-slide img{
    width: 100%;
    height: 300px;
    aspect-ratio: 270 / 300;
    object-fit: cover;
    object-position: center;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    /* color: #eaeaea; */
    visibility: hidden;
}

/* ============ */
.tab-title.active {
    color: #e97730 !important;
}