<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>


<th:block layout:fragment="head">
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
        <div class="container">

            <div class="section-title-2 st-border-center text-center mb-35">
                <h2>게시판 수정</h2>
            </div>
            <hr>

            <!-- s:buttons -->
            <div>
                <div class="d-flex justify-content-end pe-4">
                    <div class="btn-container" style="margin-top: 0px !important;">
                        <!-- 왼쪽 버튼 -->
                        <!-- 오른쪽 버튼들 -->
                        <div class="right-buttons">
                            <button type="button" class="custom-button" id="delete-btn">삭제</button>
                            <button type="button" class="custom-button" id="save-btn">수정</button>
                            <button type="button" class="custom-button" id="list-btn">목록</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- e:buttons -->

            <!-- s:card1 -->
            <div class="card" style="margin-top: 10px">
                <form class="needs-validation" id="update-bbs" novalidate="">

                    <div class="card-body">

                        <div class="row custom-row">
                            <div class="col-lg-6">
                                <div class="single-input-item">
                                    <label for="bbsNm" class="custom-label">게시판 이름</label>
                                    <input class="form-control custom-input" type="text" id="bbsNm" name="bbsNm" th:value="${form?.bbsNm}" placeholder="게시판명을 입력하세요.">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="single-input-item">
                                    <div for="bbsTpCd" class="required">타입</div>
                                    <select class="nice-select nice-select-style-1 wide" id="bbsTpCd" name="bbsTpCd" required disabled>
                                        <option value="" disabled selected>-- Select Type --</option>
                                        <option th:each="bbsTp : ${bbsTpCds}"
                                                th:value="${bbsTp?.code}"
                                                th:selected="${form?.bbsTpCd == bbsTp?.code}"
                                                th:text="${bbsTp?.name}"></option>
                                    </select>
                                    <span class="validation-error-message" id="bbsTpCd-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row custom-row">
                            <div class="col-lg-3">
                                <label for="useAt-form" class="custom-label">게시판 사용 여부</label>
                                <div id="useAt-form" class="custom-check-form-flex">
                                    <div class="form-check">
                                        <input type="radio" id="useAt_Y" name="useAt" class="form-check-input" value="Y" th:checked="${form?.useAt == 'Y'}">
                                        <label class="form-check-label" for="useAt_Y">사용</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="useAt_N" name="useAt" class="form-check-input" value="N" th:checked="${form?.useAt == 'N'}">
                                        <label class="form-check-label" for="useAt_N">미사용</label>
                                    </div>
                                </div>
                                <span class="validation-error-message" id="useAt-error"></span>
                            </div>

                            <div class="col-lg-3">
                                <label for="useAt-form" class="custom-label">분류 사용 여부</label>
                                <div id="bbsClUseAt-form" class="custom-check-form-flex">
                                    <div class="form-check">
                                        <input type="radio" id="bbsClUseAt_Y" name="bbsClUseAt" class="form-check-input" value="Y" th:checked="${form?.bbsClUseAt == 'Y'}">
                                        <label class="form-check-label" for="bbsClUseAt_Y">사용</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="bbsClUseAt_N" name="bbsClUseAt" class="form-check-input" value="N" th:checked="${form?.bbsClUseAt == 'N'}">
                                        <label class="form-check-label" for="bbsClUseAt_N">미사용</label>
                                    </div>
                                </div>
                                <span class="validation-error-message" id="bbsClUseAt-error"></span>
                            </div>

                            <div class="col-lg-3">
                                <label for="useAt-form" class="custom-label">댓글 사용 여부</label>
                                <div id="answerUseAt-form" class="custom-check-form-flex">
                                    <div class="form-check">
                                        <input type="radio" id="answerUseAt_Y" name="answerUseAt" class="form-check-input" value="Y" th:checked="${form?.answerUseAt == 'Y'}">
                                        <label class="form-check-label" for="answerUseAt_Y">사용</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="answerUseAt_N" name="answerUseAt" class="form-check-input" value="N" th:checked="${form?.answerUseAt == 'N'}">
                                        <label class="form-check-label" for="answerUseAt_N">미사용</label>
                                    </div>
                                </div>
                                <span class="validation-error-message" id="answerUseAt-error"></span>
                            </div>
                        </div>

                        <div class="row custom-row">
                            <div class="col-lg-2">
                                <label for="useAt-form" class="custom-label">첨부파일 사용 여부</label>
                                <div id="atchAt-form" class="custom-check-form-flex">
                                    <div class="form-check">
                                        <input type="radio" id="atchAt_Y" name="atchAt" class="form-check-input" value="Y"  th:checked="${form?.atchAt == 'Y'}">
                                        <label class="form-check-label" for="atchAt_Y">사용</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="atchAt_N" name="atchAt" class="form-check-input" value="N"  th:checked="${form?.atchAt == 'N'}">
                                        <label class="form-check-label" for="atchAt_N">미사용</label>
                                    </div>
                                </div>
                                <span class="validation-error-message" id="atchAt-error"></span>
                            </div>

                            <div class="col-lg-5">
                                <div class="single-input-item">
                                    <label for="atchNum" class="custom-label">첨부파일 개수</label>
                                    <input class="form-control custom-input" type="number" id="atchNum" name="atchNum" placeholder="업로드 가능한 첨부파일 개수를 입력하세요." th:value="${form?.atchNum}" >
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="single-input-item">
                                    <label for="atchNum" class="custom-label">업로드 첨부파일 총 용량(MB)</label>
                                    <input class="form-control custom-input" type="number" id="uploadCpcty" name="uploadCpcty" placeholder="업로드 가능한 첨부파일 총 용량을 입력하세요." th:value="${form?.uploadCpcty}">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- e:card1 -->

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/manager/bbs/bbs-list-form.js'}"></script>
    <script th:inline="javascript">

        const bbsUid = [[${uid}]]

        $(function () {

            const isUsed = $('input[name="atchAt"]:checked').val() === 'Y';
            bbsJS.toggleAtchInputs(isUsed);
            if(isUsed) {
                bbsJS.formatByteToMb();
            }

            $("#list-btn").on('click', function () {
                Util.confirm('수정중이신 정보는 저장되지 않습니다. <br> 목록으로 돌아가시겠습니까?').then((isOk) => {
                    if(isOk) {
                        window.location.href = '/manager/cetus/bbs';
                    }
                });
            });

            $("#save-btn").on('click', function () {
                bbsJS.updateBbs();
            });

            $("#delete-btn").on('click', function () {
               bbsJS.deleteBbs();
            });

            $('input[name="atchAt"]').on('change', function() {
                const isUsed = $(this).val() === 'Y';
                bbsJS.toggleAtchInputs(isUsed);
            });

        });
    </script>
</th:block>
</html>