<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="popup-modal">

    <!-- [1] 팝업 스타일 1 -->
    <div class="popupContainer hidden" id="textarea-modal">
        <div class="popupContent popup-textarea">
            <div class="container" id="textarea-modal-container">
                <div class="main-popup-title">
                    <div class="padding-10">
                        <h3 style="margin-top: 10px;" id="textarea-modal-title">선택항목 비공개</h3>
                    </div>
                </div>
                <div class="main-popup-body popup-textarea">
                    <div id="textarea-modal-span-div">
                        <span>해당 항목을 비공개 상태로 전환하시겠습니까?</span>
                        <br>
                        <span>비공개 상태로 전환된 정보는 사용자들에게 노출되지 않습니다.</span>
                    </div>
                    <div class="main-popup-textarea">
                        <form id="textarea-modal-form" class="needs-validation" novalidate="">
                            <div class="single-input-item">
                                <label for="textarea-modal-textarea" id="textarea-modal-label">비공개 사유<span style="color: red">*</span></label>
                                <textarea id="textarea-modal-textarea" class="form-control" required="" style="margin-bottom: 0px !important;"></textarea>
                                <div class="invalid-feedback">필수 입력값입니다.</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="main-popup-footer d-flex justify-content-center">
                    <button class="btn main-popup-left-btn btn-black" id="textarea-modal-left-btn">취소</button>
                    <button class="btn main-popup-right-btn btn-red" id="textarea-modal-right-btn">확인</button>
                </div>
            </div>
        </div>
    </div>

    <!-- [2] 팝업 스타일 2 -->
    <div class="popupContainer hidden" id="text-modal">
        <div class="popupContent popup-text">
            <div class="container" id="text-modal-container">
                <div class="main-popup-title">
                    <div class="padding-10">
                        <h3 style="margin-top: 10px;" id="text-modal-title">선택항목 비공개</h3>
                    </div>
                </div>
                <div class="main-popup-body popup-text">
                    <div id="text-modal-span-div">
                        <span>해당 항목을 비공개 상태로 전환하시겠습니까?</span>
                        <br>
                        <span>비공개 상태로 전환된 정보는 사용자들에게 노출되지 않습니다.</span>
                    </div>
                </div>
                <div class="main-popup-footer d-flex justify-content-center">
                    <button class="btn main-popup-left-btn btn-black" id="text-modal-left-btn">취소</button>
                    <button class="btn main-popup-right-btn btn-red" id="text-modal-right-btn">확인</button>
                </div>
            </div>
        </div>
    </div>

    <!-- [3] 팝업 스타일 3 -->
    <div class="popupContainer hidden" id="thumbmail-modal">
        <div class="popupContent popup-uploader">
            <div class="container" id="thumbmail-modal-container">
                <div class="main-popup-title">
                    <div class="padding-10">
                        <h3 style="margin-top: 10px;">썸네일 이미지 정보</h3>
                    </div>
                </div>
                <div class="main-popup-body">
                    <div class="main-popup-uploader">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-8 col-12">
                                <label for="thumbmail-modal-uploader">썸네일 이미지<span style="color: red">*</span></label>
                                <div>
                                    <div id="thumbmail-modal-uploader" style="display: none;" class="mt-1"></div>
                                    <div id="upload-container-thunbmail-modal-img-show" style="display: block;" class="mt-1">
                                        <img src="/assets/images/page/detail/profile_noimage.png" id="thumbnail-modal-img" data-id="" style="width: 200px;">
                                    </div>
                                    <div class="info_text">
                                        <p style="font-size: 12px !important; margin-bottom: 3px !important;">이미지 포맷 : jpg, png, gif</p>
                                        <p style="font-size: 12px !important; color: red; margin-bottom: 3px !important;" id="uploader-image-alert-span"></p>

                                    </div>
                                </div>
                                <div style="display: flex;justify-content: left;gap: 20px;">
                                    <button type="button" class="btn btn-dark" style="height: 35px; width: 100px; display: flex; align-items: center; justify-content: center;" id="modal-image-upload-btn">
                                        파일 등록
                                    </button>
                                    <button type="button" class="btn btn-dark" style="height: 35px; width: 100px; display: flex; align-items: center; justify-content: center;" id="modal-image-delete-btn">
                                        파일 삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-popup-form">
                        <form id="thumbmail-modal-form" class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="single-input-item">
                                    <label for="thumbmail-modal-input" class="required">작품 제목<span style="color: red">*</span></label>
                                    <input class="form-control" type="text" id="thumbmail-modal-input" required>
                                    <div class="invalid-feedback">필수 정보입니다.</div>
                                </div>
                                <div class="main-popup-textarea">
                                    <div class="single-input-item">
                                        <label for="thumbmail-modal-textarea">작품 설명<span style="color: red">*</span></label>
                                        <textarea id="thumbmail-modal-textarea" class="form-control" required="" style="margin-bottom: 0px !important;"></textarea>
                                        <div class="invalid-feedback">필수 입력값입니다.</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="main-popup-footer d-flex justify-content-center">
                    <button class="btn main-popup-left-btn btn-black" id="thumbmail-modal-left-btn">취소</button>
                    <button class="btn main-popup-right-btn btn-red" id="thumbmail-modal-right-btn">저장</button>
                </div>
            </div>
        </div>
    </div>


    <!-- [3] 팝업 스타일 4 -->
    <div class="popupContainer hidden" id="thumbnail2-modal">
        <div class="popupContent popup-uploader">
            <div class="container" id="thumbnail2-modal-container">
                <div class="main-popup-title">
                    <div class="padding-10">
                        <h3 style="margin-top: 10px;">썸네일 이미지 정보</h3>
                    </div>
                </div>
                <div class="main-popup-body">
                    <div class="main-popup-uploader">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-8 col-12">
                                <label for="thumbnail2-modal-uploader">썸네일 이미지<span style="color: red">*</span></label>
                                <div>
                                    <div id="thumbnail2-modal-uploader" style="display: none;" class="mt-1"></div>
                                    <div id="upload-container-thumbnail2-modal-img-show" style="display: block;" class="mt-1">
                                        <img src="/assets/images/page/detail/profile_noimage.png" id="thumbnail2-modal-img" data-id="" style="width: 200px;">
                                    </div>
                                    <div class="info_text">
                                        <p style="font-size: 12px !important; margin-bottom: 3px !important;">이미지 포맷 : jpg, png, gif</p>
                                        <p style="font-size: 12px !important; color: red; margin-bottom: 3px !important;" id="thumbnail2-uploader-image-alert-span"></p>

                                    </div>
                                </div>
                                <div style="display: flex;justify-content: left;gap: 20px;">
                                    <button type="button" class="btn btn-dark" style="height: 35px; width: 100px; display: flex; align-items: center; justify-content: center;" id="thumbnail2-modal-image-upload-btn">
                                        파일 등록
                                    </button>
                                    <button type="button" class="btn btn-dark" style="height: 35px; width: 100px; display: flex; align-items: center; justify-content: center;" id="thumbnail2-modal-image-delete-btn">
                                        파일 삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-popup-form">
                        <form id="thumbnail2-modal-form" class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="single-input-item">
                                    <label for="thumbnail2-modal-input" class="required">작품 제목<span style="color: red">*</span></label>
                                    <input class="form-control" type="text" id="thumbnail2-modal-input" required>
                                    <div class="invalid-feedback">필수 정보입니다.</div>
                                </div>
                                <div class="main-popup-textarea">
                                    <div class="single-input-item">
                                        <label>작품 설명<span style="color: red">*</span></label>
                                        <!-- ckeditor -->
                                        <div class="ckeditor-div">
                                            <div id="thumbnail2-modal-editor" name="experienceCnt" class="ckeditor"></div>
                                        </div>
                                        <div id="thumbnail2-editor-span" style="display: none; margin-bottom: 20px;">
                                            <span style="font-size: 14px; color: orangered;">필수 정보입니다.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="main-popup-footer d-flex justify-content-center">
                    <button class="btn main-popup-left-btn btn-black" id="thumbnail2-modal-left-btn">취소</button>
                    <button class="btn main-popup-right-btn btn-red" id="thumbnail2-modal-right-btn">저장</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>