<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/bbs/bbsctt.css'}" />
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
        <div class="container">

            <div class="row info-row" style="margin-bottom: 25px;">
                <div class="col-lg-12 col-md-12">
                    <!-- 상단 헤더 영역 -->
                    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px;">
                        <div class="sidebar-widget" style="display: flex; align-items: center; gap: 10px;">
                            <div class="sidebar-widget-title-2 mb-20">
                                <h4 class="custom" style="margin: 0;">게시글 수정</h4>
                            </div>
                        </div>
                        <div class="custom-btn-wrap" style="justify-content: right; margin-top: 0px;">
                            <button type="button" class="custom-button" id="list-btn">목록</button>
                            <button type="button" class="custom-button" id="delete-btn">삭제</button>
                            <button type="button" class="custom-button" id="save-btn">저장</button>
                        </div>
                    </div>

                    <!-- 하단 폼 영역 -->
                    <div style="margin-top: 20px;">
                        <div class="account-details-form">
                            <form id="bbsctt-update-form" class="needs-validation" novalidate="">
                                <div class="row custom-row">
                                    <div class="col-lg-12">
                                        <div class="single-input-item">
                                            <label for="bbscttNm" class="custom-label">제목<span style="color: red">*</span></label>
                                            <input class="form-control custom-input" type="text" id="bbscttNm"
                                                   name="bbscttNm" placeholder="제목을 입력하세요." th:value="${bbsctt?.bbscttNm}" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row custom-row">
                                    <div class="col-lg-6">
                                        <label for="openAt-form" class="custom-label">공개여부<span style="color: red">*</span></label>
                                        <div id="openAt-form" class="custom-check-form-flex">
                                            <div class="form-check">
                                                <input type="radio" id="openAt_Y" name="openAt" class="form-check-input" value="Y" th:checked="${bbsctt?.openAt == 'Y'}">
                                                <label class="form-check-label" for="openAt_Y">공개</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" id="openAt_N" name="openAt" class="form-check-input" value="N" th:checked="${bbsctt?.openAt == 'N'}">
                                                <label class="form-check-label" for="openAt_N">비공개</label>
                                            </div>
                                        </div>
                                        <span class="validation-error-message" id="openAt-error"></span>
                                    </div>

                                    <div class="col-lg-6" th:if="${bbs?.bbsTpCd == 'NOTICE'}">
                                        <label for="noticeAt-form" class="custom-label">공지여부<span style="color: red">*</span></label>
                                        <div id="noticeAt-form" class="custom-check-form-flex">
                                            <div class="form-check">
                                                <input type="radio" id="noticeAt_Y" name="noticeAt" class="form-check-input" value="Y" checked="" th:checked="${bbsctt?.noticeAt == 'Y'}">
                                                <label class="form-check-label" for="noticeAt_Y">공지글</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" id="noticeAt_N" name="noticeAt" class="form-check-input" value="N" th:checked="${bbsctt?.noticeAt == 'N'}">
                                                <label class="form-check-label" for="noticeAt_N">일반글</label>
                                            </div>
                                        </div>
                                        <span class="validation-error-message" id="noticeAt-error"></span>
                                    </div>
                                </div>

                                <div class="row custom-row">
                                    <div class="col-lg-12">
                                        <div style="margin-bottom: 20px;">
                                            <label for="bbscttCnt" class="custom-label">내용<span style="color: red">*</span></label>
                                            <div class="bbscttCnt-form">
                                                <div id="bbscttCnt" name="bbscttCnt"></div>
                                            </div>
                                            <span class="validation-error-message" id="bbscttCnt-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row custom-row" th:if="${bbs?.atchAt == 'Y'}">
                                    <div class="col-lg-12">
                                        <div style="margin-bottom: 5px;">
                                            <label for="upload-container" class="custom-label">첨부파일</label>
                                            <div>
                                                <div id="upload-container" class="mt-1"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="progress progress-bar-primary" style="margin-top: 5px;">
                                                <div id="bbscttAtchProgressBar" class="progress-bar" role="progressbar"
                                                     aria-valuenow="50" aria-valuemin="50" aria-valuemax="100" style="width: 0%; background-color: #5f9def"
                                                     aria-describedby="bbscttAtchProgressBar"></div>
                                            </div>
                                            <span style="font-size: 12px;" id="uploadCpcty-span">
                                                * 현재 업로드된 파일 크기: <span id="total-uploadCpcty"> 0.00 </span> MB
                                                / 최대 <span id="max-uploadCpcty"> 20 </span> MB
                                            </span>
                                            <br>
                                            <span style="color: firebrick; font-size: 12px;" th:text="|* 업로드 가능한 첨부파일 개수 : ${bbs?.atchNum}개|"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <th:block th:replace="asp/bbsctt/thumbnail-modal :: thumbnail-modal"></th:block>

</th:block>

<th:block layout:fragment="script">
    <th:block th:replace="asp/bbsctt/thumbnail-modal-script::script"></th:block>
    <script th:src="@{'/assets/js/page/bbsctt/bbsctt-list-form.js'}"></script>
    <script th:inline="javascript">

        const bbs = [[${bbs}]]
        const bbsUid = [[${bbs?.bbsUid}]]
        const bbscttUid = [[${bbscttUid}]]
        const fileUid = [[${bbsctt?.fileUid}]]

        $(function () {

            bbscttJS.initForm(fileUid, [[${bbsctt?.bbscttCnt}]]);

            $("#save-btn").on('click', function () {
                bbscttJS.updateForm();
            });

            $("#list-btn").on('click', function () {
                Util.confirm('수정중이신 정보는 저장되지 않습니다. <br> 목록으로 돌아가시겠습니까?').then((isOk) => {
                    if(isOk) {
                        window.location.href = `/asp/cetus/bbsctt/${bbsUid}`;
                    }
                });
            });

            $("#delete-btn").on('click', function () {
              bbscttJS.deleteBbsctt();
            });

        });

    </script>
</th:block>
</html>