<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/bbs/bbsctt.css'}" />
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-80"  data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title-2 st-border-center text-center mb-35">
                <h2 th:text="${bbs?.bbsNm}"></h2>
            </div>
            <hr>
            <!-- s:list -->
            <div>
                <div style="display: flex; justify-content: right; margin-right: 15px; margin-bottom: 15px;">
                    <button type="button" class="custom-button" id="new-btn">게시글 등록</button>
                </div>
                <div class="">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered" id="bbsctt-table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>작성자</th>
                                    <th>제목</th>
                                    <th th:if="${bbs?.atchAt == 'Y'}">첨부파일</th>
                                    <th th:if="${bbs?.answerUseAt == 'Y'}">댓글수</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- e:list -->

        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/bbsctt/bbsctt-list-form.js'}"></script>
    <script th:inline="javascript">

        const bbsUid = [[${bbsUid}]]
        const role = [[${user.role}]]
        const bbs = [[${bbs}]]

        $(function () {
            bbscttJS.initTable();

            $("#new-btn").on('click', function () {
                window.location.href = `/asp/cetus/bbsctt/save/${bbsUid}`
            });
        });

    </script>
</th:block>
</html>