<th:block th:fragment="thumbnail-modal">
  <form id="thumbnail-form" class="needs-validation" novalidate>
    <div class="modal modal-primary fade text-start" id="thumbNailModal" aria-labelledby="thumbnailTitle" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title" id="thumbnailTitle">썸네일용 사진 선택하기</h4>
          </div>
          <div class="modal-body">
            <div class="thumbnail-container" id="thumbnailContainer">
              <!-- 이미지 썸네일이 여기에 동적으로 추가 -->
            </div>
          </div>
          <div class="modal-footer">
            <div class="custom-btn-wrap" style="justify-content: right; margin-top: 0px;">
              <button type="button" class="custom-button" id="thumb-cl">
                <span>저장</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</th:block>