<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title-no-header(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/bbs/bbsctt.css'}" />
</th:block>

<th:block layout:fragment="content">

    <div class="related-product-area pb-100 pt-100">
        <div class="container">
            <div class="row info-row" style="margin-bottom: 25px;" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-12 col-md-12" >

                    <!-- 상단 헤더 영역 -->
                    <h2 class="bbsctt-title" style="text-align: center; font-weight: bold;" th:text="${bbsctt?.bbscttNm}"></h2>
                    <div class="bbsctt-title-underline"></div>
                    <div class="bbsctt-meta" style="display: flex; justify-content: center; gap: 20px; margin-top: 10px;">
                        <span id="bbsctt-regDt" th:text="|날짜: ${bbsctt?.regDt}|"></span>
                        <span id="bbsctt-rdCnt" th:text="|조회수: ${bbsctt?.rdCnt}|"></span>
                        <span id="bbsctt-regInfo" th:text="|작성자: ${bbsctt?.regNm} (${bbsctt?.regId})|"></span>
                    </div>
                    <div class="bbsctt-meta-divider"></div>

                    <!-- 중간 내용 및 파일첨부 영역 -->
                    <div style="margin-top: 20px;" data-aos="fade-up" data-aos-delay="200">
                        <div class="account-details-form">
                            <form id="bbsctt-update-form" class="needs-validation" novalidate="">

                                <div class="row custom-row">
                                    <div class="col-lg-12">
                                        <div style="margin-bottom: 20px;">
                                            <div class="bbscttCnt-view">
                                                <div id="bbscttCnt" name="bbscttCnt"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="bbscttCnt-view-divider" th:if="${bbs?.atchAt == 'N'}"></div>    <!-- 게시글 내용 & 버튼영역 구분선 -->

                                <div id="fileUploadSection" th:if="${bbs?.atchAt == 'Y'}">
                                    <div class="file-meta-divider"></div>
                                    <div id="upload-container" class="mt-1"></div>
                                    <div class="file-meta-divider"></div>
                                </div>

                                <div class="custom-btn-wrap" style="justify-content: center; margin-top: 0px;">
                                    <button type="button" class="custom-button" id="list-btn">목록</button>
                                    <button type="button" class="custom-button" id="update-btn" th:if="${user.uid == bbsctt?.regUid}">수정</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <!-- 하단 댓글 영역 -->
                    <div style="margin-top: 50px;" data-aos="fade-up" data-aos-delay="200" th:if="${bbs?.answerUseAt == 'Y'}">
                        <!-- 댓글 개수 -->
                        <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px;">
                            <div class="sidebar-widget" style="display: flex; align-items: center; gap: 10px;">
                                <div class="sidebar-widget-title-2 mb-20">
                                    <h4 class="custom" style="margin: 0;" th:text="|댓글(${answers.size()})|"></h4>
                                </div>
                            </div>
                            <div class="custom-btn-wrap" style="justify-content: right; margin-top: 0px;"></div>
                        </div>
                        <!-- 댓글 입력 -->
                        <div>
                            <div class="row custom-row">
                                <div class="col-lg-12">
                                    <div style="margin-bottom: 20px;">
                                        <label for="answerCnt" class="custom-label">댓글 내용<span style="color: red">*</span></label>
                                        <div class="answerCnt-save">
                                            <div id="answerCnt" name="answerCnt"></div>
                                        </div>
                                        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
                                            <span class="validation-error-message" id="answerCnt-error"></span>
                                            <button type="button" class="custom-button" id="add-answer">댓글 등록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 댓글 목록 -->
                        <div id="bbsctt-answer-div">
                            <th:block th:if="${answers.isEmpty()}">
                                <p>답변이 없습니다.</p>
                            </th:block>
                            <th:block th:unless="${answers.isEmpty()}">
                                <th:block th:each="item, itemStat : ${answers}">
                                    <div style="width: 100%; margin-bottom: 50px;">
                                        <div class="answer-info">
                                            <div class="answer-info-detail">
                                                <span th:text="${item?.regDt}"></span>
                                                <h5 th:text="|${item?.regNm} (${item?.regId})|"></h5>
                                            </div>
                                            <button class="answer-toggle-btn" th:data-uid="${item?.answerUid}" data-isfold="true" th:id="|answer-toggle-${item?.answerUid}|">▼</button>
                                        </div>
                                        <div class="answerCnt-view" th:id="|answer-editor-view-div-${item?.answerUid}|">
                                            <div th:id="|answer-editor-view-${item?.answerUid}|"></div>
                                        </div>
                                        <div class="answerCnt-edit" th:id="|answer-editor-edit-div-${item?.answerUid}|" style="display: none" data-aos="fade-up" data-aos-delay="200">
                                            <div th:id="|answer-editor-edit-${item?.answerUid}|"></div>
                                        </div>
                                        <div th:id="|answer-view-button-div-${item?.answerUid}|" style="display: flex; justify-content: flex-end; align-items: center; gap: 20px; margin-top: 20px;" th:if="${user.uid.toString() == item?.regUid}">
                                            <button type="button" class="custom-button edit-answer" th:data-uid="${item?.answerUid}">수정</button>
                                            <button type="button" class="custom-button delete-answer" th:data-uid="${item?.answerUid}">삭제</button>
                                        </div>
                                        <div th:id="|answer-edit-button-div-${item?.answerUid}|" style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px; display: none" th:if="${user.uid.toString() == item?.regUid}">
                                            <span class="validation-error-message" th:id="|answerCnt-${item?.answerUid}-error|"></span>
                                            <div style="gap: 20px; display: flex;">
                                                <button type="button" class="custom-button save-answer" th:data-uid="${item?.answerUid}">저장</button>
                                                <button type="button" class="custom-button cancel-answer" th:data-uid="${item?.answerUid}">취소</button>
                                            </div>
                                        </div>
                                    </div>

                                    <hr th:unless="${itemStat?.last}" style="border: 1px solid #a0a0a0; margin-bottom: 50px; margin-top: 50px;">

                                </th:block>
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/bbsctt/bbsctt-list-form.js'}"></script>
    <script th:inline="javascript">

        const bbs = [[${bbs}]]
        const bbsUid = [[${bbs?.bbsUid}]]
        const bbscttUid = [[${bbscttUid}]]
        const fileUid = [[${bbsctt?.fileUid}]]

        $(function () {

            bbscttJS.initForm(fileUid, [[${bbsctt?.bbscttCnt}]], true);

            if(bbs['answerUseAt'] == 'Y') {
                bbscttJS.initAnswer();
                bbscttJS.initAnswerListForm([[${answers}]])
            }

            $("#update-btn").on('click', function () {
                window.location.href = `/asp/cetus/bbsctt/form/${bbscttUid}`;
            });

            $("#list-btn").on('click', function () {
                window.location.href = `/asp/cetus/bbsctt/${bbsUid}`;
            });

            $("#add-answer").on('click', function () {
               bbscttJS.saveAnswer();
            });

            $(document).on('click', '.edit-answer', function () {
                const uid = $(this).data("uid");
                bbscttJS.updateAnswer(uid);
            });

            $(document).on('click', '.delete-answer', function () {
                const uid = $(this).data("uid");
                bbscttJS.deleteAnswer(uid);
            });

            $(document).on('click', '.answer-toggle-btn', function () {
                bbscttJS.toggleAnswerCnt(this)
            });

            $(document).on('click', '.save-answer', function () {
                const uid = $(this).data("uid");
                bbscttJS.editSaveAnswer(uid);
            });

            $(document).on('click', '.cancel-answer', function () {
                const uid = $(this).data("uid")
                bbscttJS.cancelSaveAnswer(uid);
            })
        });

    </script>
</th:block>
</html>